@media screen and (max-width: 1175px) {
    .directions_list {
        margin: 0 -13px;
        justify-content: center;
    }

    .directions_list .direction_item {
        margin: 0 13px 29px;
        width: 312px;
    }

    .tahographs_card .directions_list .direction_item {
        width: 357px;
    }

    .city_address .adress_item:nth-child(2n+1) {
        padding-right: 45px;
    }

    .city_address.adresa .alphabet {
        width: 88.4%;
    }

}

@media screen and (max-width: 1150px) {
    .header .container {
        padding: 0 12px 0 15px;
    }

    .container {
        padding: 0 17px;
    }

    /* City */
    .city_address .adress_item li {
        padding-left: 40px;
        margin-bottom: 18px;
        font-size: 14px;
        line-height: 19px;
    }

    .installation .installation_item {
        width: 147px;
    }

    .installation .installation_item:not(:last-of-type) {
        padding-right: 23px;
    }
}

@media screen and (max-width: 1120px) {

    .main_section.slider_wrap {
        padding: 66px 0 290px;
    }

    .main_section,
    .monitoring_transporta .main_section {
        background-position: left bottom, 88% center;
    }

    .main_section.slider_wrap .slider_list .owl-dots {
        bottom: -108px;
    }

    .main_section .slider_item .title,
    .main_section .tahographs_main_block .title,
    .main_section.tahographs .block_title h1 {
        margin-bottom: 22px;
    }

    .main_section .title h1,
    .main_section .tahographs_main_block .title h1,
    .main_section.tahographs .block_title h1,
    .tahograph_single .block_title h1,
    .adresa_pop_up .block_title h2 {
        font-size: 43px;
        line-height: 49px;
    }

    .main_section.tahographs .block_title,
    .tahographs_skzi_wrap .block_title {
        margin-bottom: 14px;
    }

    .main_section .slider_item p,
    .main_section .tahographs_main_block p,
    .main_section.legal_service .tahographs_main_block p {
        font-size: 18px;
        line-height: 25px;
    }


    /* Tahograph SKZI */
    .tahographs_skzi_list .tahograph_skzi_item .image img {
        padding-bottom: 10px;
    }


    .tahographs_skzi_list .tahograph_skzi_item .tahograph_title {
        margin-bottom: 15px;
    }

    .tahographs_skzi_list .tahograph_skzi_item .tahograph_title h3,
    .legal_service .tahograph_single_block .tabs_body .specification_item p {
        font-size: 14px;
        line-height: 19px;
    }

    .tahographs_skzi_list .tahograph_skzi_item .features li:before {
        width: 18px;
        height: 18px;
    }

    .tahographs_skzi_list .tahograph_skzi_item .features li {
        margin-bottom: 6px;
        font-size: 11px;
        line-height: 15px;
    }

    .tahographs_skzi_list .tahograph_skzi_item .flag {
        bottom: 104px;
        width: 57px;
        height: 57px;
        font-size: 7.18502px;
        line-height: 10px;
    }

    .tahographs_skzi_list .tahograph_skzi_item .price_wrap {
        font-size: 13px;
        line-height: 20px;
    }

    .tahographs_skzi_list .tahograph_skzi_item .price_wrap .price,
    .legal_service .tahograph_single_block .tabs_body .specification_head p {
        font-size: 18px;
        line-height: 25px;
    }

    .tahographs_skzi_wrap.karta_voditelya_wrap .block_title {
        margin-bottom: 63px;
    }

    /* Adresa */
    .adresa .main_section.tahographs .block_title {
        margin-bottom: 26px;
    }

    /* Help */
    .main_section.help .categories_list li {
        width: auto;
        padding-right: 20px;
    }
}

@media screen and (max-width: 1060px) {
    .directions_list .direction_item .description {
        min-height: 92px;
        font-size: 14px;
        line-height: 19px;
    }

    .header .phone_wrap {
        padding: 0 20px;
    }

    .installation .container {
        padding: 0 14px;
    }

    /* City */
    .city_address .adress_item {
        width: 47%;
    }

    .city_address .adress_item:nth-child(2n+1) {
        padding-right: 15px;
    }

    .city_address .adress_item:nth-child(2n+1):after {
        right: -30px;
    }

    .city_address .adress_item .title {
        margin-bottom: 30px;
    }

    .directions_list .direction_item {
        padding: 10px 0 11px;;
    }

    .directions_list .direction_item .description,
    .directions_list .direction_item .more {
        padding: 0 17px;
    }


}

@media screen and (max-width: 1024px) {

    .directions_list {
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(auto-fill, 312px);
        gap: 26px
    }

    .directions_list .direction_item,
    .tahographs_card .directions_list .direction_item {
        width: 100%;
        margin: 0 0 3px;
    }

    body.lock {
        overflow: hidden;
    }

    .header_wrap {
        height: 110px;
    }

    .header {
        background: #F8F8F8;
        box-shadow: none;
        transition: all 0.3s;
    }

    .header:before {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        background: #F8F8F8;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 3;
    }

    .logo_side {
        z-index: 3;
    }

    .logo {
        width: 100px;
    }

    .header.header_fixed {
        box-shadow: 0 3px 15px rgba(134, 132, 132, 0.25);
    }

    .header .container {
        align-items: center;
        position: relative;
    }

    .header .btn {
        padding: 11.5px 0;
        width: 229px;
        font-size: 12px;
        line-height: 16px;
    }

    .header .nav_side {
        padding: 0 12px 20px 17.5px;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: -1000%;
        left: 0;
        right: 0;
        background: #F8F8F8;
        transition: all 0.4s;
        z-index: 2;
    }

    .header .nav_side .contacts {
        margin-bottom: 30px;
    }

    .header .nav_side .menu_list {
        flex-direction: column;
    }

    .header .menu_list > .menu_item {
        margin-bottom: 17.5px;
    }

    .header .menu_list > .menu_item,
    .header .menu_list .submenu li a {
        padding-bottom: 4px;
    }

    .header.active .nav_side {
        top: 99%;
        overflow-y: auto;
    }

    .header .main_menu .menu_list > .menu_item .submenu {
        padding: 0 0 0 20px;
        top: 100%;
        left: 0;
        background: #F8F8F8;
        box-shadow: none;
        height: 0;
        position: relative;
        transition: all .3s;
    }

    .header .main_menu .menu_list > .menu_item.active .submenu {
        margin-top: 12.4px;
        height: 100%;
    }

    .header .main_menu .menu_list > .menu_item .submenu a {
        font-size: 0;
    }

    .header .main_menu .menu_list > .menu_item.active .submenu a {
        font-size: 14px;
    }

    .header .menu_list .submenu li:not(:last-child) {
        margin-bottom: 17.5px;
    }

    .header .menu_list .menu_item.has_dropdown.active {
        border-bottom: none;
    }

    .burger_menu {
        padding: 11px 20px;
        width: 32px;
        height: 23px;
        display: block;
        cursor: pointer;
        position: relative;
        border-radius: 2px;
        order: 2;
        z-index: 3;
    }

    .menu_btn {
        width: 32px;
        height: 4px;
        background: #323446;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease-in-out .1s;
    }

    .menu_btn:before,
    .menu_btn:after {
        content: "";
        width: 32px;
        height: 4px;
        background: #323446;
        position: absolute;
        transition: all 0.5s ease-in-out .1s;
    }

    .menu_btn:before {
        top: -9px;
    }

    .menu_btn:after {
        top: 9px;
    }

    .burger_menu.active .menu_btn {
        background: rgba(0, 0, 0, 0);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    }

    .burger_menu.active .menu_btn:before {
        top: 0;
        transform: rotate(45deg);
    }

    .burger_menu.active .menu_btn:after {
        top: 0;
        transform: rotate(135deg);
    }

    .main_section .slider_item {
        width: 64.6%;
    }

    .main_section .slider_item .order_btn,
    .footer .contact_form input[type="submit"],
    .main_section .slider_item .order_btn,
    .main_section .tahographs_main_block .order_btn,
    main .map_wrap .map_content .btn,
    .info_block_wrapper .info_block .btn,
    .tahographs_skzi_list .tahograph_skzi_item .btn,
    .tahograph_single_block .tabs_body.description_block .btn,
    .legal_service .tahograph_single_block .tabs_body .btn {
        padding: 11.5px 0;
        width: 194px;
        font-size: 12px;
        line-height: 16px;
    }

    .block_title {
        margin-bottom: 63px;
    }

    .block_title h2,
    .info_block_wrapper .info_block .title,
    .installation .installation_item .number,
    .zamena_bloka_skzi .block_title h2 {
        font-size: 35px;
        line-height: 38px;
    }

    .directions,
    .figures,
    .clients,
    .partners,
    .footer {
        padding-top: 90px;
    }

    .benefits {
        padding-bottom: 59px;
    }

    .directions_list .direction_item,
    .clients .client_item,
    .partners .partner_item,
    .tahograph_single_block .tabs_body,
    .info_block_wrapper .info_block {
        box-shadow: 0 5px 20px #DBDBDB;
    }

    .directions_list .direction_item .title h3,
    .advantages .advantage_item .title h3,
    .footer .title h3,
    .footer .contact_form h4 {
        font-size: 18px;
        line-height: 19px;
    }

    .benefits_list .benefit_item .benefit_icon,
    .figures .figure_item .figure_icon,
    .advantages .advantage_item .advantage_icon {
        width: 61px;
        height: 61px;
    }

    .figures {
        padding-bottom: 142px;
    }

    .figures .figures_list {
        padding: 0 16px;
    }

    .benefits_list .benefit_item .benefit_title,
    .figures_list .figure_item p,
    .footer .contact_form input[type="text"],
    .footer .contact_form input[type="email"],
    .footer .contact_form input[type="tel"],
    .installation .installation_item,
    .tahograph_single_block .tabs_body.description_block .installation_price .price_item,
    .tahograph_single_block .tabs_body .specification_head p,
    .article .article_wrap p,
    .article .article_wrap li,
    .article .article_wrap li a,
    .karta_voditelya_wrap .tabs_body .right_side .related_services h4,
    .monitoring_transporta .advantages .advantage_item p {
        font-size: 14px;
        line-height: 19px;
    }

    .figures_list .figure_item h3 {
        font-size: 26px;
        line-height: 35px;
    }

    .clients,
    .partners {
        padding-bottom: 89px;
    }

    .clients .client_item,
    .partners .partner_item {
        width: 93.2%;
        margin: 0 auto 33px;
        height: 148px;
    }

    .clients .clients_list .owl-nav .owl-prev,
    .clients .clients_list .owl-nav .owl-next,
    .partners .partners_list .owl-nav .owl-prev,
    .partners .partners_list .owl-nav .owl-next {
        margin: 0 28px;
        width: 15px;
        height: 65px;
    }

    .footer {
        padding-bottom: 215px;
    }

    .footer .container {
        padding: 0 35px;
    }

    .footer .contact_form {
        padding-left: 33px;
    }

    .footer .title h3,
    .footer .contact_form h4 {
        line-height: 25px;
    }

    .footer .contact_form input[type="submit"] {
        padding: 13px 0;
        line-height: 17px;
        font-size: 12px;
        border-radius: 9px;
    }

    .footer .contact p, .footer .contact a,
    .karta_voditelya_wrap .tabs_body .right_side .related_services li {
        font-size: 11px;
        line-height: 15px;
    }

    .footer .contact_form input[type="text"],
    .footer .contact_form input[type="email"],
    .footer .contact_form input[type="tel"] {
        margin-bottom: 43px;
    }

    .directions_list .direction_item .more a,
    .tahograph_single_block .tabs_body .more a,
    .help .articles_list .article_item .more a {
        margin-right: 12px;
    }

    .directions_list .direction_item .more svg,
    .tahograph_single_block .tabs_body .attention .more svg,
    .help .articles_list .article_item .more svg {
        width: 19px;
    }

    /* breadcrumbs */
    .breadcrumbs_wrapper .breadcrumbs,
    .directions_list .direction_item .more a,
    .tahograph_single_block .tabs_body .attention a,
    .help .articles_list .article_item .more a,
    .tahograph_single_block .tabs_head .tab_item,
    .tahograph_single_block .tabs_body.description_block .additional_info li {
        font-size: 11px;
        line-height: 15px;
    }

    /* Tahographs */
    .main_section.tahographs {
        padding: 28px 0 85px;
    }

    .breadcrumbs_wrapper,
    .main_section.tahograph_single .breadcrumbs_wrapper,
    .monitoring_transporta .breadcrumbs_wrapper {
        margin-bottom: 23px;
    }

    .main_section.tahographs .block_title p,
    .tahographs_skzi_wrap .block_title p,
    .tahograph_single .block_title p,
    .zamena_bloka_skzi .block_title p {
        width: 100%;
        font-size: 18px;
        line-height: 25px;
    }


    /* Tahograph Skzi */
    .main_section.tahographs_skzi,
    .main_section.zamena_bloka_skzi,
    .main_section.karta_voditelya,
    .monitoring_transporta .main_section,
    .main_section.legal_service {
        padding-bottom: 290px;
        background-size: 45%, 95%;
        background-position: left bottom, 44% center;
    }

    .main_section .tahographs_main_block {
        width: 68.7%;
    }

    .main_section .tahographs_main_block p {
        width: 57%;
    }

    .tahographs_skzi_wrap {
        padding: 88px 0 95px;
    }

    .tahographs_skzi_list .tahograph_skzi_item {
        width: 232.6px;
        padding: 19px 19px 21px 17px;
        box-shadow: 0px 5px 20px #DBDBDB;
    }

    .tahographs_skzi_list .tahograph_skzi_item .image {
        height: 71px;
    }

    .tahographs_skzi_list .tahograph_skzi_item .price_wrap {
        flex-wrap: wrap;
    }

    .tahographs_skzi_list .tahograph_skzi_item .btn {
        margin-top: 18px;
        width: 100%;
    }

    .info_block_wrapper {
        padding: 58px 0 89px
    }

    .info_block_wrapper .info_block {
        padding: 42px 82px 38px 25px;
    }

    .info_block_wrapper .info_block .title {
        padding-right: 0;
    }

    .info_block_wrapper .info_block .description {
        padding-left: 35px;
    }

    .info_block_wrapper .info_block .image {
        width: 50%;
    }

    .info_block_wrapper .info_block p,
    .tahograph_single_block .tabs_body.description_block .installation_price .sum {
        font-size: 18px;
        line-height: 25px;
    }

    .info_block_wrapper .info_block a:not(.btn) {
        padding-bottom: 0;
        display: inline;
    }

    .installation,
    .main_section.tahograph_single,
    .tahographs_skzi_wrap.zamena_bloka_skzi_wrap,
    .tahographs_skzi_wrap.oformlenie_dopuska {
        padding-bottom: 105px;
    }

    .installation .installation_item {
        width: 134px;
    }

    .installation .installation_item:not(:last-of-type) {
        padding-right: 19px;
    }

    .installation .installation_item:not(:last-of-type):after {
        width: 14.5px;
        height: 17px;
    }

    /* Tahograph Single */
    .tahograph_single_block .tabs_body {
        padding: 28px 33px 35px;
    }

    .tahograph_single_block .tabs_body.description_block .right_side,
    .tahograph_single_page .info_block_wrapper .info_block .description {
        padding-left: 33px;
    }

    .tahograph_single_block .tabs_body.description_block .right_side .installation_price_wrap:before,
    .tahograph_single_page .info_block .benefits_list:before {
        left: -33px;
    }

    .tahograph_single_block .tabs_body.description_block h3,
    .legal_service .sample_document .title h3,
    .legal_service .demands .title h3,
    .legal_service .info_block .title h3 {
        margin-bottom: 22px;
        font-size: 23px;
        line-height: 29px;
    }

    .tahograph_single_block .tabs_body.description_block .left_side .image {
        width: 231px;
        margin: 0 auto 23px;
    }

    .zamena_bloka_skzi .tabs_body.description_block .left_side .image {
        width: 193px;
    }

    .tahograph_single_block .tabs_body.description_block .features li,
    .legal_service .info_block .features li,
    .legal_service .demands .features li,
    .tahograph_single_block .tabs_body .attention,
    .tahograph_single_block .tabs_body .specification_item p,
    .main_section.help .articles_list .article_item .title,
    .main_section.help .articles_list .article_item .short_description,
    .main_section.help .categories_list li a {
        font-size: 12px;
        line-height: 19px;
    }

    .tahograph_single_block .tabs_body.description_block .features li svg,
    .karta_voditelya .info_block .features li svg,
    .legal_service .info_block .features li svg,
    .legal_service .demands .features li svg {
        width: 22px;
        height: 16px;
    }

    .tahograph_single_block .tabs_body.description_block .installation_price {
        margin-bottom: 20px;
    }

    .tahograph_single_block .tabs_body.description_block .installation_price .price_item {
        margin-bottom: 10px;
    }

    .tahograph_single_block .tabs_body .specification_item p,
    .tahograph_single_block .tabs_body .specification_head p {
        padding: 13.5px 7px 10.5px;
    }

    .tahograph_single_page .info_block_wrapper {
        padding: 46px 0 105px;
    }

    .tahograph_single_page .info_block_wrapper .info_block {
        padding: 33px 37px 38px;
    }

    .tahograph_single_page .info_block_wrapper .info_block .title {
        margin-bottom: 38px;
    }

    .tahograph_single_page .info_block_wrapper .info_block .image {
        width: 46.5%;
    }

    .tahograph_single_page .benefits_list,
    .karta_voditelya_wrap .benefits_list {
        margin-bottom: 48px;
    }

    .tahograph_single_page .benefits_list li,
    .karta_voditelya_wrap .benefits_list li {
        padding: 10px 0 8px 58px;
    }

    .tahograph_single_page .benefits_list li:before,
    .karta_voditelya_wrap .benefits_list li:before {
        width: 42px;
        height: 40px;
    }

    .tahograph_single_page .benefits_list li,
    .karta_voditelya_wrap .benefits_list li,
    .article .article_wrap h2,
    .article .article_wrap h3,
    .article .article_wrap h4,
    .article .article_wrap h5,
    .article .article_wrap h6,
    .city_address .adress_item .title {
        font-size: 18px;
        line-height: 19px;
    }

    .tahograph_single_page .benefits_list li b,
    .karta_voditelya_wrap .benefits_list li b {
        font-size: 26px;
        line-height: 19px;
    }


    /* Zamena bloka */
    .main_section.zamena_bloka_skzi .tahographs_main_block p {
        width: 294px;
    }


    .video_instruction {
        padding: 90px 0 75px;
    }

    .video_instruction .block_title {
        margin-bottom: 59px;
    }

    .video_instruction .container {
        padding: 0 53px;
    }

    .video_instruction .video_item:nth-child(2n+1) {
        padding-right: 31px;
    }

    .video_instruction .video_item .title {
        font-size: 18px;
        line-height: 20px;
    }

    /* Help */
    .main_section.help .articles_list .article_item {
        margin-bottom: 43px;
        width: 31.6%;
    }

    .main_section.help .articles_list .article_item .image {
        height: 183px;
    }

    .main_section.help .categories_list li {
        margin-right: 59px;
        padding: 2px 20px 8px 10px;
    }

    /* Article */
    .article .article_wrap {
        width: 83.3%;
    }

    .main_section.help .article_wrap .block_title h1 {
        margin-bottom: 59px;
    }

    .article .article_wrap img {
        width: 280px;
        height: 212px;
    }

    /* Karta voditelya */
    .main_section.karta_voditelya .tahographs_main_block {
        width: 53.7%;
    }

    .main_section.karta_voditelya .tahographs_main_block p {
        width: 66%;
    }

    .karta_voditelya .tahograph_single_block .tabs_body.description_block .right_side {
        padding-left: 0;
    }

    .karta_voditelya_wrap .tabs_body .right_side .related_services li {
        margin-bottom: 6px;
        padding: 3px 0 3px 32px;
    }

    .karta_voditelya_wrap .tabs_body .right_side .related_services li:before {
        width: 20px;
        height: 20px;
    }

    .karta_voditelya .info_block_wrapper .info_block .image {
        width: 46.5%;
        height: 350px;
    }

    .karta_voditelya .info_block_wrapper .info_block {
        padding: 46px 32px 40px;
    }

    .karta_voditelya .info_block_wrapper .info_block .features:before {
        left: -35px;
    }

    /* Monitoring transporta*/
    .advantages {
        padding: 99px 0 57px;
    }

    .advantages .advantage_item {
        margin-bottom: 34px;
    }

    .monitoring_transporta .tahograph_single_block.extended {
        margin-top: 76px;
    }

    /* Legal Service */
    .legal_service .info_block_wrapper {
        padding-bottom: 105px;
    }

    .legal_service .sample_document,
    .legal_service .demands {
        padding: 31px 34px 39px;
        width: 586px;
        margin-bottom: 76px;
    }

    .legal_service .info_block_wrapper .info_block {
        padding: 33px 33px 38px;
    }

    .legal_service .info_block_wrapper .info_block .image {
        width: 26.5%;
        height: 346px;
    }

    .legal_service .info_block_wrapper .info_block .description {
        padding-left: 0;
    }

    main .map_wrap {
        padding-top: 90px;
    }

    main .map_wrap .map_content {
        padding: 34px 33px 38px;
    }

    main .map_wrap .map {
        height: 294px;
    }

    /* Adresa  */
    .main_section.tahographs {
        padding-bottom: 105px;
    }

    .adresa .alphabet {
        padding-right: 0;
        width: 88.7%;
    }

    .adresa .alphabet .col_6 .letter {
        font-size: 12px;
        line-height: 16px;
    }

    .adresa .map_wrap .map_content {
        padding: 29px 35px 31px;
    }

    /* City */
    .city_address .adress_item {
        margin-bottom: 43px;
    }

    .city_address .adress_item li:before {
        width: 19px;
        height: 19px;
    }

    .adresa .main_section {
        padding-bottom: 73px;
    }

    /* Error page */
    .error_page .main_section.tahographs {
        padding-bottom: 470px;
    }

    .error_page .main_section .block_title a {
        padding-bottom: 1px;
    }

    /* Adresa Pop-up */
    .adresa_pop_up {
        padding: 36px 19px 92px;
    }

    .adresa_pop_up .adresa .alphabet {
        width: 90%;
    }
}

@media screen and (max-width: 995px) {
    /* Tahographs */
    .tahographs_skzi_list {
        justify-content: center;
    }

    .tahographs_skzi_list .tahograph_skzi_item {
        margin: 0 11.5px 28px;
    }

    .info_block_wrapper .info_block {
        align-items: center;
    }
}

@media screen and (max-width: 950px){
    .installation_order_list {
        width: 80%;
        margin: 0 auto;
    }

    .installation .installation_item {
        width: 27%;
    }

    .installation .installation_item {
        margin-bottom: 28px;
    }

    .installation .installation_item:not(:last-of-type) {
        padding-right: 35px;
    }
    .installation .installation_item:nth-child(3n+3) {
        padding-right: 0;
    }

    .installation .installation_item:nth-child(3n+3):after {
        display: none;
    }

}

@media screen and (max-width: 900px) {
    .header .phone_wrap {
        padding: 0 15px;
    }

    /* Tahographs Card */
    .video_instruction .video_list {
        flex-direction: column;
    }

    .video_instruction .video_item {
        margin-bottom: 34px;
        width: 428px;
        text-align: center;
    }

    .video_instruction .video {
        height: 277px;
    }

    .video_instruction .video_item:nth-child(2n+1) {
        padding-right: 0;
    }

    .video_instruction .video_item:nth-child(2n+1):after {
        display: none;
    }

    /* help */
    .main_section.help .categories_list {
        padding-right: 10px;
        justify-content: space-between;
    }

    .main_section.help .categories_list li {
        margin-right: 0;
    }
}

@media screen and (max-width: 850px) {

    /* Tahograph Single */
    .tahograph_single_page .info_block_wrapper .info_block,
    .zamena_bloka_skzi .info_block_wrapper .info_block,
    .karta_voditelya .info_block_wrapper .info_block {
        width: 495px;
        margin: 0 auto;
        flex-direction: column;
        padding: 37px 32px 39px;
    }

    .tahograph_single_page .info_block_wrapper .info_block .description,
    .tahograph_single_page .info_block_wrapper .info_block .image,
    .zamena_bloka_skzi .info_block_wrapper .info_block .image,
    .zamena_bloka_skzi .info_block_wrapper .info_block .description,
    .karta_voditelya .info_block_wrapper .info_block .image,
    .karta_voditelya .info_block_wrapper .info_block .description {
        width: 100%;
    }

    .tahograph_single_page .info_block_wrapper .info_block .description,
    .zamena_bloka_skzi .info_block_wrapper .info_block .description {
        padding-left: 0;
    }

    .tahograph_single_page .info_block .benefits_list:before,
    .zamena_bloka_skzi .info_block_wrapper .info_block .description:before,
    .karta_voditelya .info_block_wrapper .info_block .features:before {
        display: none;
    }

    .tahograph_single_page .info_block_wrapper .info_block .description .title,
    .zamena_bloka_skzi .info_block_wrapper .info_block .description .title,
    .zamena_bloka_skzi .info_block_wrapper .info_block p {
        text-align: center;
    }

    .tahograph_single_page .info_block_wrapper .info_block .image,
    .zamena_bloka_skzi .info_block_wrapper .info_block .image {
        margin-bottom: 32px;
    }

    .tahograph_single_page .info_block_wrapper .info_block .btn,
    .zamena_bloka_skzi .info_block_wrapper .info_block .btn {
        margin: 0 auto;
    }

    /* Karta voditelya */
    .main_section.karta_voditelya .tahographs_main_block {
        width: 72.7%;
    }

    .karta_voditelya .info_block_wrapper .info_block .title {
        font-size: 35px;
        line-height: 38px;
    }

    .karta_voditelya .info_block_wrapper .info_block .image {
        margin-bottom: 32px;
    }

    /* Legal service */
    .legal_service .info_block .description {
        width: 58.6%;
    }

    .legal_service .info_block_wrapper .info_block .image {
        width: 36.7%;
    }

    .zamena_bloka_skzi .info_block_wrapper .info_block p {
        padding-right: 0;
    }
}

@media screen and (max-width: 830px) {
    .header .geolocation {
        margin-right: 19px;
    }

    .header .btn {
        margin-left: 19px;
    }

    .header .phone_number {
        font-size: 17px;
        line-height: 23px;
    }

    /* Karta Voditelya */
    .karta_voditelya .figures_list {
        width: 65.2%;
        padding: 0;
        margin: 0 auto;
    }

    .karta_voditelya .figures_list .figure_item {
        width: 47.2%;
    }

    /* City */
    .city_address.adresa .alphabet {
        width: 100%;
        justify-content: center;
    }

    .city_address .adress_item {
        width: auto;
        padding-right: 5px;
    }
    .city_address .adress_item:nth-child(2n+1) {
        padding-right: 5px;
    }

    .city_address .adress_item:nth-child(2n+1):after {
        display: none;
    }


    /* Adresa */
    .adresa .main_section.tahographs {
        padding-bottom: 81px;
    }

    .adresa .alphabet {
        width: 57.8%;
        margin: 0 auto;
    }

    .adresa .alphabet .col_6 {
        width: 33%;
        margin-bottom: 24px;
    }

    .adresa .map_wrap .map_content {
        padding: 21px 26px 23px;
    }

    .city_address .adress_item {
        margin-bottom: 54px;
    }

    .adresa.city_address .main_section {
        padding-bottom: 31px;
    }
}

@media screen and (max-width: 780px) {
    .header .nav_side {
        padding: 0 7px 20px 15px;
    }

    .main_section.slider_wrap {
        padding-bottom: 531px;
        background-size: 50%, 90%;
        background-position: left bottom, 80% 34%;
    }

    .main_section.slider_wrap {
        padding-top: 56px;
    }

    .main_section .slider_item p {
        width: 50.7%;
    }

    .main_section .slider_item {
        width: 89.6%;
    }

    .main_section.slider_wrap .slider_list .owl-dots {
        bottom: -352px;
    }

    .benefits_list {
        width: 67.2%;
        margin: 0 auto;
    }

    .benefits_list .benefit_item {
        width: 47.1%;
        margin-bottom: 35px;
    }

    .figures {
        padding-bottom: 106px;
    }

    .figures .figures_list {
        width: 60.2%;
        margin: 0 auto;
    }

    .figures_list .figure_item {
        margin-bottom: 24px;
        width: 43.1%;
    }

    .clients .clients_list,
    .partners .partners_list {
        width: 66.8%;
    }


    /* tahographs skzi*/
    .main_section .tahographs_main_block {
        width: 100%;
    }

    .main_section.tahographs_skzi,
    .main_section.zamena_bloka_skzi,
    .main_section.karta_voditelya,
    .monitoring_transporta .main_section,
    .main_section.legal_service {
        padding-bottom: 547px;
        background-position: left bottom, 44% 40%;
    }

    .main_section .tahographs_main_block p {
        width: 52%;
    }

    .installation {
        padding-bottom: 77px;
    }

    /* Tahograph Single */
    .tahograph_single_block .tabs_body {
        padding: 27px 31px 38px 25px;
        box-shadow: 0 3.5px 3.5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        flex-direction: column;
    }

    .tahograph_single_block .tabs_body.description_block .right_side,
    .tahograph_single_block .tabs_body.description_block .left_side {
        width: 100%;
    }

    .tahograph_single_block {
        width: 495px;
        margin: 0 auto;
    }

    .tahographs_skzi_wrap.monitoring_transporta .tabs_body.description_block .right_side,
    .tahograph_single_block .tabs_body.description_block .right_side {
        padding-left: 0;
    }

    .tahograph_single_block .tabs_body.description_block .right_side .installation_price_wrap:before {
        display: none;
    }

    .tahograph_single_block .tabs_body.description_block .left_side {
        margin-bottom: 33px;
    }

    .monitoring_transporta .tahograph_single_block .tabs_body .btn {
        margin-top: 27px;
    }

    .tahograph_single_block .tabs_head .tab_item {
        width: 215px;
    }

    .tahograph_single_page .benefits_list {
        width: auto;
        margin: 0 0 48px;
    }

    /* Article */
    .article .main_section {
        padding-bottom: 63px;
    }

    .article .article_wrap {
        width: 100%;
    }

    .main_section.help .article_wrap .block_title h1 {
        margin-bottom: 50px;
    }

    .article .article_wrap p {
        margin-bottom: 17px;
    }

    .article .article_wrap h2,
    .article .article_wrap h3,
    .article .article_wrap h4,
    .article .article_wrap h5,
    .article .article_wrap h6 {
        margin-bottom: 19px;
    }

    /* Karta Voditelya */
    .tahographs_skzi_wrap.karta_voditelya_wrap {
        padding-bottom: 107px;
    }

    .karta_voditelya_wrap .tabs_body .right_side .benefits_list {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .karta_voditelya_wrap .tabs_body .right_side .benefits_list:before {
        display: none;
    }

    .karta_voditelya_wrap .tabs_body.description_block .left_side {
        margin-bottom: 37px;
    }

    .karta_voditelya_wrap .benefits_list li {
        margin-bottom: 5px;
    }

    .karta_voditelya_wrap .tabs_body .right_side .related_services {
        top: 25px;
    }

    /* Karta Voditelya */
    .karta_voditelya .figures_list {
        width: 65.2%;
    }

    /* monitoring transporta */
    .advantages {
        padding-top: 90px;
    }

    .advantages .advantages_list {
        width: 93%;
        margin: 0 auto;
    }

    .advantages .advantage_item {
        width: 45.2%;
    }

    .legal_service .tahograph_single_block {
        width: 100%;
    }


    /* Legal Service */
    .tahograph_single_block .tabs_body .specification_item p,
    .tahograph_single_block .tabs_body .specification_head p {
        padding: 12px 8px;
    }
    .city_address .adress_item,
    .city_address .adress_item:nth-child(2n+1) {
        padding-right: 0;
    }
}

@media screen and (max-width: 768px) {

    .directions_list .direction_item .icon {
        margin-right: 10px;
        width: 20px;
        height: 20px;
    }

    .footer {
        padding-bottom: 102px;
    }

    .footer .container {
        padding: 0 50px;
    }

    .footer .map_wrap .map {
        border-radius: 8px;
        height: 213px;
    }

    .footer .contact_form {
        margin-bottom: 35px;
        width: 66.2%;
        order: -1;
        padding-left: 0;
    }

    .footer .contact_form:before {
        display: none;
    }

    .footer .map_wrap {
        width: 59.8%;
    }

    /* Help */
    .help .container {
        padding: 0 15px;
    }

    .main_section.help .categories_list {
        padding-right: 60px;
    }

    .main_section.help .articles_list {
        padding: 0 47px;
    }

    .main_section.help .articles_list .article_item {
        width: 48%;
    }

    /* Monitoring Transporta */
    .tahographs_skzi_wrap.monitoring_transporta {
        padding-bottom: 105px;
    }

    /* Legal Service */
    main .map_wrap .map {
        margin-bottom: 22px;
        height: 218px;
    }

    /* ERror page */
    .error_page .main_section.tahographs {
        padding-bottom: 688px;
    }

    /* Adresa pop-up */
    .adresa_pop_up {
        padding: 36px 19px 70px;
    }

    .adresa_pop_up .adresa .alphabet {
        width: 70%;
    }
}

@media screen and (max-width: 767px) {
    .header .geolocation {
        margin-right: 16px;
    }

    .header .btn {
        margin-left: 16px;
    }

    .tahograph_single_block .tabs_body .attention {
        width: 100%;
    }

    .karta_voditelya .tahograph_single_block .tabs_body .attention {
        width: auto;
    }
}

@media screen and (max-width: 754px) {

    .header .phone_wrap {
        width: 52%;
        flex: auto;
        flex-direction: column;
        align-items: flex-start;
        border-right: 0;
        padding: 0 0 0 15px;
    }

    .header .phone_wrap .schedule {
        margin-bottom: 8px;
    }

    .header .btn {
        margin-left: 0;
        margin-top: 12px;
    }
}

@media screen and (max-width: 700px ) {
    .header .nav_side .contacts {
        margin-bottom: 19px;
    }

    .directions_list {
        justify-content: space-around;
        margin: 0;
    }


    .clients .clients_list, .partners .partners_list {
        width: 72.8%;
    }

    /* tahographs */
    .tahographs .directions_list {
        width: 100%;
    }

    /* Tahograph skzi */
    .info_block_wrapper .info_block {
        width: 57%;
        margin: 0 auto;
        padding: 27px 27px 35px;
        flex-direction: column;
    }

    .info_block_wrapper .info_block .description,
    .info_block_wrapper .info_block .image,
    .legal_service .sample_document,
    .legal_service .demands,
    .legal_service .info_block_wrapper .info_block {
        width: 100%;
    }

    .info_block_wrapper .info_block .description {
        margin-top: 26px;
        padding-left: 0;
    }

    .tahographs_skzi .info_block .description {
        text-align: center;
    }

    .info_block_wrapper .info_block .description:before {
        display: none;
    }

    .info_block_wrapper .info_block .btn {
        margin: 12px auto 0;
    }

    .info_block_wrapper .info_block .title {
        font-size: 28px;
        line-height: 31px;
        text-align: center;
    }

    .info_block_wrapper .info_block p {
        font-size: 13px;
        line-height: 18px;
    }

    /* Tahograph Single  */
    .tahograph_single_page .info_block_wrapper .info_block .description {
        margin: 0;
        text-align: left;
    }

    /* Karta voditelya */
    .karta_voditelya .figures_list {
        width: 86.2%;
    }

    /* Legal service */
    .legal_service .info_block_wrapper .info_block .image {
        width: 80%;
        margin: 0 auto 20px;
        height: 317px;
    }

    .legal_service .sample_document,
    .legal_service .demands {
        margin-bottom: 70px;
    }

}

@media screen and (max-width: 640px) {
    .main_section.slider_wrap {
        padding-bottom: 269px;
        background-size: 50%, 92%;
        background-position: left bottom, 67% 27%;
    }

    .main_section.slider_wrap .slider_list .owl-dots {
        bottom: -51px;
    }

    .main_section.slider_wrap .slider_list .owl-dots .owl-dot {
        margin-right: 20px;
        width: 14.5px;
        height: 14.5px;
    }

    .main_section.slider_wrap .slider_list .owl-dot.active span {
        width: 5px;
        height: 5px;
    }

    .main_section.tahographs .container {
        padding: 0 11px;
    }

    .legal_services .directions_list .direction_item .description {
        min-height: 79px;
        font-size: 12px;
        line-height: 16px;
    }

    .legal_services .tahographs .directions_list .direction_item {
        margin-left: 0;
        margin-right: 0;
        width: 268px;
    }

    .directions_list .direction_item .title {
        margin-bottom: 22px;
    }

    .directions_list .direction_item .title h3,
    .footer .title h3,
    .footer .contact_form h4 {
        font-size: 15px;
        line-height: 17px;
    }

    .directions_list .direction_item .icon {
        width: 17px;
        height: 17px;
    }

    .block_title h2,
    .info_block_wrapper .info_block .title,
    .installation .installation_item .number,
    .zamena_bloka_skzi .block_title h2 {
        font-size: 28px;
        line-height: 33px;
    }

    .clients .clients_list,
    .partners .partners_list {
        width: 74.8%;
    }

    .clients .client_item,
    .partners .partner_item {
        margin-bottom: 26px;
        height: 120px;
        padding: 0 15px;
    }

    .footer .map_wrap {
        width: 57%;
    }

    .footer .map_wrap .map {
        margin-bottom: 11px;
        height: 168px;
    }

    /* Tahographs */
    .main_section.tahographs .block_title p,
    .tahographs_skzi_wrap .block_title p,
    .tahograph_single .block_title p,
    .zamena_bloka_skzi .block_title p {
        font-size: 13px;
        line-height: 18px;
    }

    /* Tahographs SKZI */
    .main_section.tahographs_skzi,
    .main_section.zamena_bloka_skzi,
    .main_section.karta_voditelya,
    .monitoring_transporta .main_section,
    .main_section.legal_service {
        padding-bottom: 284px;
        background-size: 50%, 93%;
        background-position: left bottom, 53% 40%;
    }

    .installation_order_list {
        width: 90%;
    }

    /* Tahographs card*/
    .video_instruction .container {
        padding: 0 19px;
    }

    /* Zamena bloka */
    .main_section.zamena_bloka_skzi .tahographs_main_block p {
        width: 213px;
    }

    /* Help */
    .main_section.help .articles_list {
        padding: 0;
    }

    /* Monitoring transporta */
    .advantages {
        padding: 71px 0 44px;
    }

    .advantages .advantage_item {
        margin-bottom: 24px;
    }

    /* Legal service */
    .legal_service .info_block_wrapper {
        padding: 43px 0 82px;
    }

    .legal_service .sample_document .title h3,
    .legal_service .demands .title h3 {
        font-size: 21px;
        line-height: 27px;
    }

    .info_block_wrapper .info_block .description {
        width: 76.5%;
        margin: 0 auto;
    }


    main .map_wrap {
        padding: 71px 0 81px;
    }

    main .map_wrap .map_content {
        padding: 34px 33px 38px;
    }

    main .map_wrap .map_content {
        padding: 19px 18px 35px;
    }

    main .map_wrap .map {
        margin-bottom: 19px;
    }

    /* Adresa */
    .adresa .main_section.tahographs {
        padding-bottom: 57px;
    }

    .adresa .alphabet {
        width: 88%;
    }

    .adresa .map_wrap .map_content {
        padding: 16px 19px 17px;
    }

    /* City */
    .city_address .adress_item li {
        padding-left: 33px;
        font-size: 12px;
        line-height: 16px;
    }

    .city_address .adress_item {
        margin-bottom: 46px;
    }

    .city_address .adress_item .title {
        margin-bottom: 26px;
    }

    /* ERror page */
    .error_page .main_section.tahographs {
        padding-bottom: 81px;
        background-size: 186%;
    }

    /* Adresa pop-up */
    .adresa_pop_up {
        padding: 27px 48px 54px;
    }

    .adresa_pop_up .adresa .alphabet {
        width: 100%;
    }

    .adresa_pop_up .block_title {
        margin-bottom: 14px;
    }
}

@media screen and (max-width: 575px) {

    .header_wrap {
        height: 93px;
    }

    .header .geolocation svg,
    .header .schedule svg {
        width: 14px;
        height: 14px;
    }

    .header .geolocation {
        margin-right: 17px;
    }

    .logo {
        width: 83px;
    }

    .menu_btn,
    .menu_btn:before,
    .menu_btn:after {
        width: 26px;
    }

    .header .menu_list > .menu_item {
        margin-bottom: 15px;
    }

    .header .menu_list .submenu li:not(:last-child) {
        margin-bottom: 13px;
    }

    .header .menu_list > .menu_item,
    .header .menu_list .submenu li a {
        padding-bottom: 0;
    }

    .header .menu_list .menu_item.has_dropdown svg {
        width: 8px;
        height: 4px;
        top: 11px;
    }

    .block_title {
        margin-bottom: 50px;
    }

    .main_section .title h1,
    .main_section .tahographs_main_block .title h1,
    .main_section.tahographs .block_title h1,
    .tahograph_single .block_title h1,
    .adresa_pop_up .block_title h2 {
        font-size: 30px;
        line-height: 34px;
        word-break: break-word;
    }

    .main_section .slider_item p,
    .main_section .tahographs_main_block p,
    .main_section.legal_service .tahographs_main_block p,
    .advantages .advantage_item .title h3 {
        font-size: 13px;
        line-height: 18px;
    }

    .main_section .slider_item .order_btn,
    .main_section .tahographs_main_block .order_btn {
        padding: 7px 0;
        width: 136px;
        font-size: 9px;
        line-height: 12px;
        border-radius: 6px;
    }

    .directions,
    .figures,
    .clients,
    .partners,
    .footer {
        padding-top: 71px;
    }

    .directions,
    .main_section.tahographs {
        padding-bottom: 53px;
    }

    .directions .container {
        padding: 0 10px;
    }

    .benefits {
        padding-bottom: 49px;
    }

    .benefits_list .benefit_item {
        margin-bottom: 33px;
    }

    .benefits_list {
        width: 84%;
        justify-content: center;
    }

    .benefits_list .benefit_item .benefit_icon,
    .figures .figure_item .figure_icon,
    .advantages .advantage_item .advantage_icon {
        width: 52px;
        height: 52px;
    }

    .figures {
        padding-bottom: 92px;
    }


    .figures .figures_list {
        width: 72.2%;
    }

    .figures_list .figure_item,
    .karta_voditelya .figures_list .figure_item {
        margin-bottom: 21px;
    }

    .figures_list .figure_item h3 {
        font-size: 22px;
        line-height: 30px;
    }

    .benefits_list .benefit_item .benefit_title,
    .figures_list .figure_item p,
    .footer .contact_form input[type="text"],
    .footer .contact_form input[type="email"],
    .footer .contact_form input[type="tel"],
    .header .menu_list a,
    .header .main_menu .menu_list > .menu_item.active .submenu a,
    .installation .installation_item,
    .tahograph_single_block .tabs_body .specification_head p,
    .tahograph_single_block .tabs_body.description_block .installation_price .price_item,
    .article .article_wrap p,
    .article .article_wrap li,
    .article .article_wrap li a,
    .karta_voditelya_wrap .tabs_body .right_side .related_services h4,
    .monitoring_transporta .advantages .advantage_item p,
    .directions_list .direction_item .description {
        font-size: 12px;
        line-height: 16px;
    }

    .directions_list .direction_item .description {
        min-height: 79px;
    }

    .clients .clients_list .owl-nav .owl-prev,
    .clients .clients_list .owl-nav .owl-next,
    .partners .partners_list .owl-nav .owl-prev,
    .partners .partners_list .owl-nav .owl-next {
        margin: 0 23px;
        width: 12px;
        height: 52px;
    }

    .clients,
    .partners {
        padding-bottom: 66px;
    }

    .footer {
        padding-bottom: 81px;
    }

    .footer .container {
        padding: 0 15px;
    }

    .footer .title h3, .footer .contact_form h4 {
        font-size: 13px;
        line-height: 18px;
    }

    .footer .contacts .contact {
        margin-bottom: 7px;
    }

    .footer .contact_form {
        margin-bottom: 21px;
    }

    .footer .contact_form .checkbox label,
    .tahograph_single_block .tabs_body .attention a,
    .tahograph_single_block .tabs_body.description_block .additional_info li,
    .help .articles_list .article_item .more a {
        font-size: 10px;
        line-height: 13px;
    }

    .footer .contact_form input[type="checkbox"] {
        width: 19px;
        height: 19px;
    }

    .footer .contacts .contact:before,
    .karta_voditelya_wrap .tabs_body .right_side .related_services li:before,
    .city_address .adress_item li:before {
        width: 16px;
        height: 16px;
    }

    .footer .contact p,
    .footer .contact a,
    .header .geolocation a,
    .header .phone_wrap .schedule,
    .tahograph_single_block .tabs_head .tab_item,
    .karta_voditelya_wrap .tabs_body .right_side .related_services li {
        font-size: 10px;
        line-height: 14px;
    }

    .footer .contact_form input[type="checkbox"] {
        margin-right: 14px;
    }

    .footer .contact_form input[type="checkbox"]:checked:before {
        width: 26px;
        height: 20px;
    }

    .footer .contact_form input[type="text"],
    .footer .contact_form input[type="email"],
    .footer .contact_form input[type="tel"] {
        margin-bottom: 33px;
    }

    .directions_list .direction_item .more a,
    .tahograph_single_block .tabs_body .more a,
    .help .articles_list .article_item .more a {
        margin-right: 11px;
    }

    .directions_list .direction_item .more svg,
    .tahograph_single_block .tabs_body .attention .more svg,
    .help .articles_list .article_item .more svg {
        width: 16px;
        height: 6px;
    }

    /* breadcrumbs */
    .breadcrumbs_wrapper .breadcrumbs {
        font-size: 10px;
        line-height: 14px;
    }

    /* Tahographs */
    .main_section.tahographs {
        background-position: 60% bottom;
        background-size: 229%;
    }


    /* Tahographs Skzi */
    .tahographs_skzi_wrap {
        padding: 72px 0 58px;
    }

    .tahographs_skzi_list .tahograph_skzi_item {
        margin: 0 5px 17px
    }

    .tahographs_skzi_wrap .block_title h2,
    .tahographs_skzi_wrap.zamena_bloka_skzi_wrap .block_title h2 {
        margin-bottom: 14px;
    }

    .tahograph_single .block_title h1,
    .tahographs_skzi_wrap.zamena_bloka_skzi_wrap .block_title h2 {
        margin-bottom: 11px;
    }

    .info_block_wrapper {
        padding: 58px 0 76.5px;
    }

    .installation {
        padding: 76.5px 0 56px;
    }

    .installation .block_title {
        margin-bottom: 44px;
    }

    .installation_order_list {
        width: 90%;
    }

    .installation .installation_item {
        margin-bottom: 25px;
    }

    .installation .installation_item:not(:last-of-type):after,
    .installation .installation_item:nth-child(3n+3):after {
        width: 12px;
        height: 14px;
    }

    .installation .installation_item .number {
        margin-bottom: 16px;
    }

    /* tahograph single */
    .installation, .main_section.tahograph_single,
    .tahographs_skzi_wrap.zamena_bloka_skzi_wrap {
        padding: 23px 0 82px;
    }

    .breadcrumbs_wrapper,
    .main_section.tahograph_single .breadcrumbs_wrapper,
    .monitoring_transporta .breadcrumbs_wrapper {
        margin-bottom: 19px;
    }

    .tahograph_single_page .info_block_wrapper .info_block,
    .tahograph_single_block,
    .zamena_bloka_skzi .info_block_wrapper .info_block,
    .karta_voditelya .info_block_wrapper .info_block {
        width: 452px;
    }

    .tahograph_single_block .tabs_body {
        padding: 25px 30px 35px 23px;
    }

    .tahograph_single_block .tabs_body.description_block .left_side .image {
        margin-bottom: 21px;
    }

    .tahograph_single_block .tabs_body.description_block .left_side .image {
        width: 211px;
    }

    .zamena_bloka_skzi .tabs_body.description_block .left_side .image {
        width: 176px;
    }

    .tahograph_single_block .tabs_body.description_block .features li svg,
    .karta_voditelya .info_block .features li svg,
    .legal_service .info_block .features li svg,
    .legal_service .demands .features li svg {
        margin-right: 16px;
        width: 20px;
        height: 14px;
    }

    .tahograph_single_block .tabs_body.description_block .features li,
    .legal_service .info_block .features li,
    .legal_service .demands .features li,
    .tahograph_single_block .tabs_body .attention,
    .tahograph_single_block .tabs_body .specification_item p,
    .tahograph_single_block .tabs_body .specification_item .value {
        font-size: 11px;
        line-height: 18px;
    }

    .tahograph_single_block .tabs_body .attention {
        padding-left: 31px;
    }

    .tahograph_single_block .tabs_body .attention .icon {
        font-size: 38px;
    }

    .tahograph_single_block .tabs_body.description_block h3 {
        font-size: 21px;
        line-height: 26px;
    }

    .tahograph_single_block .tabs_body.description_block .installation_price .sum {
        font-size: 16px;
        line-height: 22px;
    }

    .tahograph_single_page .info_block_wrapper,
    .zamena_bloka_skzi .info_block_wrapper {
        padding: 39px 0 83px;
    }

    .tahograph_single_page .info_block_wrapper .info_block {
        padding: 33px 31px 35px;
    }

    .tahograph_single_page .benefits_list li,
    .karta_voditelya_wrap .benefits_list li {
        font-size: 13px;
        line-height: 15px;
    }

    .tahograph_single_page .benefits_list li b,
    .karta_voditelya_wrap .benefits_list li b {
        font-size: 21px;
    }

    .tahograph_single_page .benefits_list li:before,
    .karta_voditelya_wrap .benefits_list li:before {
        width: 35px;
        height: 33px;
    }

    .tahograph_single_page .benefits_list li,
    .karta_voditelya_wrap .benefits_list li {
        padding: 8px 0 6px 58px;
    }

    /* Tahographs Card */
    .video_instruction {
        padding: 71px 0 52px;
    }

    .video_instruction .video_item {
        width: 363px;
        margin-bottom: 30px;
    }

    .video_instruction .video {
        height: 235px;
    }

    .video_instruction .block_title {
        margin-bottom: 49px;
    }

    .video_instruction .video_item .title {
        font-size: 13px;
        line-height: 16px;
    }

    /* Help */
    .main_section.help {
        padding-bottom: 45px;
    }

    .main_section.help .articles_list {
        padding: 0;
    }

    .main_section.help .articles_list .article_item {
        margin-bottom: 37px;
    }

    .main_section.help .articles_list .article_item .image {
        height: 157px;
    }

    .main_section.help .articles_list .article_item .title,
    .main_section.help .articles_list .article_item .short_description,
    .main_section.help .categories_list li a {
        font-size: 11px;
        line-height: 16px;
    }

    .main_section.help .categories_list li {
        margin-bottom: 14px;
        padding: 0px 0 6px 10px;
        width: 26%;
    }

    .main_section.help .categories_list li:nth-last-child(-n+3) {
        margin-bottom: 0;
    }

    /* Article */
    .main_section.help .article_wrap .block_title h1 {
        margin-bottom: 22px;
    }

    .article .article_wrap img {
        width: 229px;
        height: 174px;
        float: none;
        margin: 0 auto 10px;
    }

    .article .article_wrap h2,
    .article .article_wrap h3,
    .article .article_wrap h4,
    .article .article_wrap h5,
    .article .article_wrap h6,
    .city_address .adress_item .title {
        font-size: 15px;
        line-height: 16px;
    }

    /* Karta Voditelya */
    .tahographs_skzi_wrap.karta_voditelya_wrap {
        padding-bottom: 89px;
    }

    .tahographs_skzi_wrap.karta_voditelya_wrap .block_title {
        margin-bottom: 50px;
    }

    .main_section.karta_voditelya .tahographs_main_block {
        width: 69.7%;
    }

    .main_section.karta_voditelya .tahographs_main_block p {
        width: 70%;
    }

    .karta_voditelya .figures .figures_list {
        width: 74.2%;
    }

    .karta_voditelya .info_block_wrapper .info_block {
        padding: 33px 30px 35px;
    }

    .karta_voditelya .info_block_wrapper .info_block .image {
        height: 316px;
        margin-bottom: 25px;
    }

    .karta_voditelya .info_block_wrapper .info_block .title {
        font-size: 28px;
        line-height: 31px;
    }

    .karta_voditelya .info_block .features li {
        font-size: 12px;
        line-height: 18px;
    }

    .karta_voditelya_wrap .tabs_body .right_side .related_services h4 {
        padding-left: 32px;
        margin-bottom: 8px;
    }

    .karta_voditelya_wrap .tabs_body .right_side .related_services li {
        padding: 1px 0 1px 28px;
    }

    .karta_voditelya_wrap .tabs_body .right_side .benefits_list {
        margin-bottom: 17px;
    }

    .info_block_wrapper .info_block .description {
        text-align: left;
    }

    /* Monitoring Transporta */
    .monitoring_transporta .tahograph_single_block .tabs_body .btn {
        margin-top: 21px;
    }

    .advantages .advantage_item .title {
        margin-bottom: 5px;
    }

    .monitoring_transporta .tahograph_single_block.extended {
        margin-top: 70px;
    }

    .tahographs_skzi_wrap.monitoring_transporta {
        padding-bottom: 82px;
    }

    /* Legal Service */
    .tahographs_skzi_wrap.oformlenie_dopuska {
        padding: 71px 0 82px;
    }

    .legal_service .tahograph_single_block .tabs_body .specification_head p {
        padding: 9px 7px;
        font-size: 13px;
        line-height: 18px;
    }

    .legal_service .tahograph_single_block .tabs_body .specification_item p {
        padding: 9px 7px;
        font-size: 12px;
        line-height: 17px;
    }

    .legal_service .tahograph_single_block .tabs_body .specifications_list {
        margin-bottom: 26px;
    }

    .legal_service .tahograph_single_block .tabs_body {
        padding: 22px 16px 35px;
    }

    .legal_service .info_block .title {
        width: 100%;
    }

    main .map_wrap .map {
        height: 159px;
    }

}

@media screen and  (max-width: 500px) {

    .header .nav_side .contacts {
        justify-content: flex-start;
    }

    .main_section .slider_item,
    .info_block_wrapper .info_block,
    .installation_order_list {
        width: 100%;
    }

    .installation .installation_item:not(:last-of-type) {
        padding-right: 25px;
    }

    .installation .installation_item:nth-child(3n+3) {
        padding-right: 0;
    }

    .benefits_list .benefit_item {
        width: 190px;
    }

    .figures .figures_list,
    .footer .map_wrap,
    .footer .contact_form,
    .karta_voditelya .figures .figures_list {
        width: 100%;
        padding: 0;
    }

    .figures_list .figure_item {
        width: 149px;
    }

    .clients .clients_list,
    .partners .partners_list {
        padding: 0;
    }

    .clients .client_item,
    .partners .partner_item {
        width: 190px;
    }

    /* Breadcrumbs */
    .breadcrumbs_wrapper,
    .main_section.tahograph_single .breadcrumbs_wrapper,
    .monitoring_transporta .breadcrumbs_wrapper {
        margin-bottom: 10px;
    }

    .breadcrumbs_wrapper .breadcrumbs {
        padding: 0 0 8px 0;
        flex-wrap: nowrap;
        overflow-x: scroll;
        width: 100%;
        white-space: nowrap;
    }

    /* Karta voditelya*/
    .karta_voditelya .figures_list {
        justify-content: center;
    }

    .karta_voditelya .figures_list .figure_item {
        width: 200px;
    }

    .karta_voditelya .info_block_wrapper .info_block .image {
        height: 216px;
    }

    .karta_voditelya .info_block_wrapper .info_block {
        padding: 17px 16px 35px;
    }

    .tahograph_single_block .tabs_body .attention {
        width: 100%;
        margin-bottom: 31px;
    }
}

@media screen and (max-width: 480px) {
    .tahograph_single_page .info_block_wrapper .info_block,
    .tahograph_single_block,
    .zamena_bloka_skzi .info_block_wrapper .info_block,
    .karta_voditelya .info_block_wrapper .info_block {
        width: 100%;
    }

    /* Help */
    .main_section.help .categories_list {
        padding-right: 10px;
    }

    .main_section.help .categories_list li {
        width: 29%;
    }

    /* Karta voditelya*/
    .main_section.karta_voditelya .tahographs_main_block,
    .main_section.karta_voditelya .tahographs_main_block p {
        width: 100%;
    }

    /* Legal Service */
    .legal_service .info_block_wrapper .info_block {
        padding: 29px 5px 33px 16px;
    }

    .legal_service .sample_document,
    .legal_service .demands {
        margin-bottom: 46px;
    }

    .legal_service .demands {
        padding: 28px 5px 33px 13px;
    }

    /* Adresa */
    .adresa .main_section.tahographs {
        padding-bottom: 37px;
    }

    .adresa .alphabet .col_6 {
        width: 48%;
        margin-bottom: 14px;
    }
}


@media screen and  (max-width: 450px) {
    .container {
        padding: 0 10px;
    }

    .main_section.slider_wrap {
        padding-bottom: 129px;
    }

    .main_section.slider_wrap .slider_list .owl-dots {
        bottom: -99px;
    }

    .main_section.slider_wrap {
        background-position: left bottom, 0 bottom;
        background-size: 48%, 98%;
    }

    .main_section.slider_wrap .container,
    .legal_service .sample_document .right_side {
        padding: 0;
    }

    .main_section .slider_item p {
        width: 66.7%;
    }

    .block_title {
        margin-bottom: 38px;
    }


    .directions_list,
    .tahographs .directions_list {
        grid-template-columns: repeat(auto-fill, 268px);
        gap: 17px
    }

    .directions_list .direction_item {
        margin-bottom: 0;
    }

    .directions_list .direction_item .description,
    .directions_list .direction_item .more {
        padding: 0 14px;
    }

    .block_title h2,
    .info_block_wrapper .info_block .title,
    .installation .installation_item .number,
    .zamena_bloka_skzi .block_title h2 {
        line-height: 31px;
    }

    .directions,
    .benefits,
    .figures,
    .clients,
    .partners,
    .footer {
        padding: 46px 0 53px;
    }

    .footer .contact_form input[type="checkbox"]:checked:before {
        font-size: 15px;
    }

    /* tahographs skzi */
    .main_section.tahographs_skzi,
    .main_section.zamena_bloka_skzi,
    .main_section.karta_voditelya,
    .monitoring_transporta .main_section,
    .main_section.legal_service {
        padding-bottom: 179px;
        background-position: left bottom, 53% bottom;
    }

    .main_section .tahographs_main_block p {
        width: 100%;
    }

    .tahographs_skzi_wrap {
        padding: 47px 0 25px;
    }

    .info_block_wrapper,
    .zamena_bloka_skzi .info_block_wrapper {
        padding: 41px 0 50px;
    }

    .info_block_wrapper .info_block .description {
        width: 79%;
    }

    .installation {
        padding: 50px 0 51px;
    }

    .installation .block_title {
        margin-bottom: 31px;
    }

    .installation .installation_item {
        width: 43.5%;
    }

    .installation .installation_item:not(:last-of-type) {
        padding-right: 22px;
    }

    .installation_order_list {
        width: 89%;
    }

    .installation .installation_item:nth-child(even) {
        padding-right: 0;
    }

    .installation .installation_item:nth-child(even):after,
    .legal_service .sample_document .right_side:before {
        display: none;
    }

    .installation .installation_item:nth-child(odd):after {
        display: block;
    }

    /* Tahograph Single */
    .tahograph_single_block .tabs_body {
        padding: 26px 15.5px 35px;
    }

    .tahograph_single_block .tabs_body.description_block .features,
    .karta_voditelya .info_block .features,
    .legal_service .info_block .features {
        margin-bottom: 15px;
    }

    .main_section.tahograph_single,
    .tahographs_skzi_wrap.zamena_bloka_skzi_wrap {
        padding-bottom: 53px;
    }

    .tahograph_single_page .info_block_wrapper {
        padding: 29px 0 53px;
    }

    .tahograph_single_page .info_block_wrapper .info_block {
        padding: 16px 16px 35px;
    }

    .tahograph_single_page .info_block_wrapper .info_block .title {
        margin-bottom: 32px;
    }

    .tahograph_single_page .benefits_list li,
    .karta_voditelya_wrap .benefits_list li {
        margin-bottom: 7px;
        padding-left: 46px;
    }

    .tahograph_single_block .tabs_head .tab_item {
        width: auto;
        padding: 5px 16px 10px;
    }

    .tahograph_single_block .tabs_body .specification_item p,
    .tahograph_single_block .tabs_body .specification_head p {
        padding: 9px 7px 9px;
    }

    .tahograph_single_block .tabs_body .specification_item p.name,
    .tahograph_single_block .tabs_body .specification_head p.name {
        width: 59%;
    }

    /* Tahographs Card */
    .video_instruction .container,
    .help .container {
        padding: 0 10px;
    }

    .video_instruction {
        padding: 46px 0 31px;
    }

    .video_instruction .video_list {
        padding: 0 11px 0 15px;
    }

    .video_instruction .video_item {
        margin-bottom: 22px;
        width: 100%;
    }

    /* help */
    .main_section.help {
        padding-bottom: 16px;
    }

    .main_section.help .articles_list {
        justify-content: center;
    }

    .main_section.help .articles_list .article_item {
        width: 268px;
    }

    .main_section.help .articles_list .article_item .image {
        margin-bottom: 2px;
    }

    .main_section.help .articles_list .article_item .title {
        margin-bottom: 8px;
    }

    .main_section.help .articles_list .article_item .short_description {
        margin-bottom: 0;
    }

    /* Help */
    .main_section.help .categories_list {
        padding-right: 40px;
    }

    .main_section.help .categories_list li {
        width: 45%;
    }

    .main_section.help .categories_list li,
    .main_section.help .categories_list li:nth-last-child(-n+3) {
        margin-bottom: 8px;
    }

    .main_section.help .categories_list li:nth-last-child(-n+2) {
        margin-bottom: 0;
    }

    /* Karta Voditelya */
    .tahographs_skzi_wrap.karta_voditelya_wrap .block_title {
        margin-bottom: 35px;
    }

    .karta_voditelya_wrap .tabs_body .right_side .related_services {
        margin-bottom: 20px;
        top: 0;
    }

    .tahographs_skzi_wrap.karta_voditelya_wrap {
        padding-bottom: 54px;
    }


    /* Monitoring transporta */
    .tahographs_skzi_wrap.monitoring_transporta {
        padding-bottom: 53px;
    }

    .monitoring_transporta .tahograph_single_block.extended {
        margin-top: 45px;
    }

    .advantages {
        padding: 46px 0 20px;
    }

    .advantages .advantage_item {
        width: 100%;
        margin-bottom: 18px;
    }

    /* Legal Service*/
    .legal_service .tahographs_skzi_wrap.oformlenie_dopuska {
        padding: 47px 0 52px;
    }

    .legal_service .info_block_wrapper {
        padding: 21px 0 53px;
    }

    .info_block_wrapper .info_block .description,
    .legal_service .sample_document .left_side,
    .legal_service .sample_document .right_side {
        width: 100%;
    }

    .legal_service .sample_document .left_side {
        margin-bottom: 26px;
    }

    .legal_service .info_block_wrapper .info_block .image {
        width: 81%;
    }

    .legal_service .sample_document .content {
        flex-direction: column;
        align-items: center;
    }

    .legal_service .sample_document {
        padding: 28px 43px 36px 36px;
    }

    .legal_service .tahograph_single_block .tabs_body .bottom_side {
        display: block;
    }

    .legal_service .tahograph_single_block .tabs_body .bottom_side:after {
        display: block;
        content: '';
        clear: both;
    }

    .legal_service .tahograph_single_block .tabs_body .btn {
        float: right;
    }

    main .map_wrap {
        padding: 46px 0 53px;
    }

    main .map_wrap .map {
        height: 91px;
    }

    .legal_service .tahograph_single_block .tabs_body .specification_item p {
        text-align: left;
    }

    .legal_service .oformlenie_dopuska .container {
        padding: 0;
    }

    .legal_service .tahograph_single_block .tabs_body {
        padding: 24px 9px 35px 8px;
    }

    .tahograph_single_block .tabs_body .specification_head p.name {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tahograph_single_block .tabs_body .specification_head p,
    .tahograph_single_block .tabs_body .specification_item p {
        padding: 8px 5px;
    }

    .legal_service .tahograph_single_block .tabs_body .specification_item p.name,
    .legal_service .tahograph_single_block .tabs_body .specification_head p.name {
        width: 72%;
    }

    .legal_service .tahograph_single_block .tabs_body .more a {
        margin-right: 2px;
    }

    /* Adresa */
    .adresa .map_wrap .map_content {
        padding: 9px 11px 9px;
    }

    .adresa .map_wrap .map_content .map {
        height: 89px;
    }

    /* City adress */
    .adresa .main_section.tahographs {
        padding-bottom: 16px;
    }

    .city_address .adress_item {
        margin-bottom: 37px;
    }

    /* Adresa Pop-up */
    .adresa_pop_up {
        padding: 30px 5px 34px;
    }
}

@media screen and (max-width: 380px) {
    .footer .contact_form input[type="checkbox"] {
        margin-right: 8px;
    }

    /* Tahographs Card */
    .video_instruction .video {
        height: 176px;
    }

    /* help */
    .article .article_wrap p {
        margin-bottom: 12px;
    }

    /* ERror page */
    .error_page .main_section.tahographs {
        padding-bottom: 288px;
    }

    /* Zamena bloka*/
    .main_section.zamena_bloka_skzi .tahographs_main_block .title {
        padding-right: 10px;
    }

    .main_section.zamena_bloka_skzi .tahographs_main_block p {
        width: 89%;
    }
}

@media screen and (max-width: 350px) {
    .footer .container {
        padding: 0 7px;
    }

}