@import "fonts.css";

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    font: 400 16px 'Open Sans', Arial, sans-serif;
    line-height: 22px;
    color: #323446;
    position: relative;
}

* {
    box-sizing: border-box;
}

input {
    -webkit-appearance: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #323446;
    transition: all ease-in-out 0.3s;
}

img {
    display: block;
    width: 100%;
}

.collapse:after {
    content: "";
    display: block;
    clear: both;
    overflow-y: hidden;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

input, textarea, button, select {
    border: none;
    outline: none !important;
    font-family: 'Open Sans', Arial, sans-serif;
}

input[type=submit], input[type=button], button {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
}

.no-display,
.mobile,
.burger_menu {
    display: none;
}

.container_flex {
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: space-between; /* Safari */
    justify-content: space-between;
    align-items: center;
}

.header_wrap {
    height: 118px;
}

.header {
    background: #fff;
    box-shadow: 0 3px 15px rgba(134, 132, 132, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
}

.header .container {
    align-items: flex-start;
}

.logo {
    padding: 3px 0 8px;
    width: 108px;
}

.header .nav_side {
    width: 84.4%;
}

.header .geolocation svg,
.header .schedule svg {
    margin-right: 5px;
    width: 15px;
    height: 16px;
}

.header .geolocation {
    padding-top: 5px;
    margin-right: 36px;
}

.header .schedule svg {
    margin-right: 6px;
}


.header .nav_side .contacts {
    padding-top: 22px;
    margin-bottom: 16px;
}

.header .phone_wrap {
    padding: 5px 34px;
    border-left: 0.5px solid #D0CFCF;
    border-right: 0.5px solid #D0CFCF;
    flex: 1;
}

.header .geolocation,
.header .schedule {
    display: flex;
    font-size: 12px;
    line-height: 16px;
}

.header .schedule {
    margin-right: 10px;
}

.header .geolocation a {
    padding-bottom: 3px;
    border-bottom: 1px solid #028CFF;
    color: #028CFF;
}

.header .phone_number {
    font-size: 20px;
    line-height: 27px;
    color: #028CFF;
}

.header .phone_number:hover,
.header .geolocation a:hover {
    color: #323446;
    border-color: #323446;
}

.header .btn {
    margin-left: 36px;
}

.btn {
    width: 258.5px;
    padding: 13.5px 0;
    display: block;
    background: #028CFF;
    border: 2px solid #028CFF;
    border-radius: 10px;
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 6px 8px rgba(17, 17, 17, 0.25);
}

.btn:hover {
    color: #028CFF;
    background-color: #fff;
}

.header .nav_side .main_menu {
    padding-right: 3px;
}

.header .nav_side .menu_list {
    list-style: none;
    align-items: baseline;
}

.header .menu_list a {
    font-size: 14px;
    line-height: 19px;
    display: inline-block;
}

.header .menu_list > .menu_item {
    padding-bottom: 8px;
    border-bottom: 2px solid transparent;
}


.header .menu_list > .menu_item.active,
.header .menu_list > .menu_item.active > span a {
    color: #028CFF;
    border-bottom-color: #028CFF;
}

.header .menu_list .menu_item.has_dropdown {
    position: relative;
}

.header .menu_list .menu_item.has_dropdown span {
    position: relative;
    padding-right: 15px;
}

.header .menu_list .menu_item.has_dropdown svg {
    width: 9px;
    height: 5px;
    position: absolute;
    top: 9px;
    right: 0;
    fill: #323446;
    transition: 0.3s;
}


@media (min-width: 1024px) and  (max-width: 2400px) {
    .header .menu_list > .menu_item:hover > span a {
        color: #028CFF;
    }

    .header .menu_list > .menu_item:hover,
    .header .menu_list .submenu .menu_item:hover span a {
        color: #028CFF;
        border-bottom-color: #028CFF;
    }

    .header .menu_list .menu_item.has_dropdown:hover svg {
        fill: #028CFF;
    }

    .header .main_menu .menu_list > .menu_item:hover .submenu {
        opacity: 1;
        transform: scaleY(1);
    }

}

.header .menu_list .menu_item.has_dropdown.active svg {
    fill: #028CFF;
}

.header .main_menu .submenu {
    padding: 20.5px 12.5px 17px;
    position: absolute;
    left: -13px;
    top: 150%;
    opacity: 0;
    background: #fff;
    list-style: none;
    box-shadow: 0 3px 15px rgba(134, 132, 132, 0.25);
    border-radius: 4px;
    transform: scaleY(0);
    white-space: nowrap;
    transform-origin: 0 0;
    transition: .5s ease-in-out;
    z-index: 5;
}

.header .main_menu .menu_list > .menu_item.active .submenu {
    opacity: 1;
    transform: scaleY(1);
}

.header .menu_list .submenu li:not(:last-child) {
    margin-bottom: 10px;
}

.header .menu_list .submenu li a {
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.main_section,
.monitoring_transporta .main_section {
    padding: 141px 0 374px;
    background-color: #F8F8F8;
    background-image: url("../images/back-hills.png"), url('../images/main-background.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 27%, contain;
    background-position: left bottom, center;
    position: relative;
}


.main_section.slider_wrap .container {
    max-width: 1160px;
}

.main_section .slider_item {
    width: 62.6%;
    padding: 0 0 15px 10px;
}

.main_section.slider_wrap .slider_list .owl-dots {
    position: absolute;
    bottom: -249.5px;
    right: 8px;
    display: flex;
}

.main_section.slider_wrap .slider_list .owl-dots .owl-dot {
    width: 20px;
    height: 20px;
    border: 1px solid #333;
    border-radius: 50%;
    display: block;
    margin-right: 27px;
}

.main_section.slider_wrap .slider_list .owl-dots .owl-dot:last-of-type {
    margin-right: 0;
}

.main_section.slider_wrap .slider_list .owl-dot.active span {
    display: block;
    width: 6px;
    height: 6px;
    background: #333;
    border-radius: 50%;
    margin: 0 auto;
}

.main_section .slider_item .title,
.main_section .tahographs_main_block .title {
    margin-bottom: 19px;
}

.main_section .title h1,
.main_section .tahographs_main_block .title h1 {
    font-size: 48px;
    line-height: 55px;
    font-weight: 600;
}

.main_section .slider_item p,
.main_section .tahographs_main_block p,
.main_section.legal_service .tahographs_main_block p {
    margin-bottom: 35px;
    width: 60.7%;
    font-size: 20px;
    line-height: 27px;
}

.main_section .slider_item p {
    width: 51.7%;
}

.main_section .slider_item .order_btn,
.main_section .tahographs_main_block .order_btn,
main .map_wrap .map_content .btn {
    width: 219px;
}

.directions {
    padding: 105px 0 90px;
}

.block_title {
    margin-bottom: 73px;
}

.block_title h2,
.info_block_wrapper .info_block .title,
.installation .installation_item .number,
.zamena_bloka_skzi .block_title h2 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 400;
    text-align: center;
}

.directions_list {
    margin: 0 -17.5px;
    align-items: flex-start;
    justify-content: flex-start;
}

.directions_list .direction_item {
    margin: 0 17px 33px;
    padding: 14px 19px 12px;
    width: 357px;
    background: #FFFFFF;
    box-shadow: 2px 20px 48px #DBDBDB;
    border-radius: 15px 15px 10px 10px;
    overflow: hidden;
    position: relative;
}

.directions_list .direction_item .title {
    margin-bottom: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.directions_list .direction_item .title h3,
.advantages .advantage_item .title h3 {
    font-size: 20px;
    font-weight: 800;
    color: #fff;
}

.directions_list .direction_item .icon {
    width: 25px;
    height: 23px;
    margin-right: 15px;
}

.directions_list .direction_item .icon img {
    height: 100%;
    object-fit: contain;
}

.directions_list .direction_item .description {
    min-height: 103px;
    position: relative;
}

.directions_list .direction_item .more,
.tahograph_single_block .tabs_body .more,
.help .articles_list .article_item .more {
    position: relative;
    text-align: right;
}

.directions_list .direction_item .more svg,
.tahograph_single_block .tabs_body .attention .more svg,
.help .articles_list .article_item .more svg {
    position: relative;
    width: 21px;
    height: 7px;
    top: 1px;
}

.directions_list .direction_item .more a,
.tahograph_single_block .tabs_body .attention a,
.help .articles_list .article_item .more a {
    display: inline;
    margin-right: 12px;
    padding-bottom: 1px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    border-bottom: 1px solid #000000;;
}

.directions_list .direction_item .more a:hover,
.tahograph_single_block .tabs_body .attention a:hover,
.help .articles_list .article_item .more a:hover,
.error_page .main_section .block_title a:hover {
    border-bottom-color: transparent;
}

.directions_list .direction_item svg {
    position: absolute;
    width: 101%;
    top: -1px;
    left: -1px;
    right: 0;
}

.benefits {
    padding: 105px 0 79px;
}

.benefits .title {
    margin-bottom: 63px;
}

.benefits_list {
    align-items: flex-start;
}

.benefits_list .benefit_item,
.figures .figure_item {
    width: 23.1%;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.benefits_list .benefit_item .benefit_icon,
.figures .figure_item .figure_icon,
.advantages .advantage_item .advantage_icon {
    margin-bottom: 12px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.benefits_list .benefit_item .benefit_icon .icon {
    width: 44px;
    height: 100%;
}

.figures {
    padding: 105px 0 198px;
    background: url("../images/wave-back.svg") no-repeat center top;
    background-size: cover;

}

.figures .container {
    max-width: 1090px;
}

.figures .block_title h2,
.advantages .block_title h2 {
    color: #fff;
}

.figures .figures_list {
    align-items: baseline;
}

.figures_list .figure_item {
    margin-bottom: 15px;
    width: 19.1%;
    color: #fff;
}

.figures .figure_item .figure_icon {
    margin-bottom: 13px;
}

.figures_list .figure_item .title {
    margin-bottom: 5px;
}

.figures_list .figure_item h3 {
    font-size: 30px;
    font-weight: 800;
    line-height: 41px;
}

.figures_list .figure_item p {
    color: rgba(255, 255, 255, 0.8);
}

.clients,
.partners {
    padding: 105px 0 104px;
}

.clients .container,
.partners .container {
    max-width: 1920px;
    overflow: hidden;
}

.clients .clients_list .owl-stage-outer,
.partners .partners_list .owl-stage-outer {
    overflow: visible;
}

.clients .clients_list .owl-nav,
.partners .partners_list .owl-nav {
    font-size: 0;
    display: flex;
    justify-content: center;
}

.clients .clients_list .owl-nav .owl-prev,
.clients .clients_list .owl-nav .owl-next,
.partners .partners_list .owl-nav .owl-prev,
.partners .partners_list .owl-nav .owl-next {
    margin: 0 30px;
    width: 21px;
    height: 79px;
    background: url('../images/slider-arrow.svg') no-repeat center;
    background-size: contain;
}

.clients .clients_list .owl-nav .owl-next,
.partners .partners_list .owl-nav .owl-next {
    transform: rotate(180deg);
}

.clients .clients_list,
.partners .partners_list {
    max-width: 1172px;
    margin: 0 auto;
    padding-bottom: 16px;
}

.clients .clients_list .owl-item,
.partners .partners_list .owl-item {
    opacity: 0;
    transition: 0.3s;
}

.clients .clients_list .owl-item.active,
.partners .partners_list .owl-item.active {
    opacity: 1;
}

.clients .client_item,
.partners .partner_item {
    margin: 0 auto 30px;
    width: 88.1%;
    height: 164px;
    padding: 0 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 2px 20px 48px #DBDBDB;
    border-radius: 10px;
}

.clients .client_item img,
.partners .partner_item img {
    max-height: 80px;
    object-fit: contain;
}


.footer {
    padding: 105px 0 252px;
    background: #323446;
    color: #fff;
}

.footer .container {
    max-width: 1062px;
}

.footer .content {
    align-items: flex-start;
}

.footer a {
    color: #fff;
}

.footer .block_title {
    margin-bottom: 66px;
}

.footer .map_wrap {
    width: 46.7%;
}

.footer .map_wrap .title {
    padding-left: 6px;
    margin-bottom: 5px;
}

.footer .map_wrap .map {
    margin-bottom: 18px;
    height: 271px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
}

.footer .map_wrap .contacts {
    margin-left: 5px;
}

.footer .map_wrap .map iframe {
    width: 100%;
    height: 100%;
}

.footer .title h3,
.footer .contact_form h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
}

.footer .contacts .contact {
    margin-bottom: 11px;
    padding-left: 33px;
    position: relative;
}

.footer .contacts .contact:before,
.karta_voditelya_wrap .tabs_body .right_side .related_services li:before,
.city_address .adress_item li:before {
    display: block;
    content: '';
    width: 22px;
    height: 22px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/star.svg") no-repeat center;
    background-size: contain;
}

.footer .contact p,
.footer .contact a,
.karta_voditelya_wrap .tabs_body .right_side .related_services li {
    padding: 3px 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}

.footer .contact_form {
    width: 49.9%;
    padding-left: 36px;
    position: relative;
}

.footer .contact_form:before,
.info_block_wrapper .info_block .description:before,
.tahograph_single_block .tabs_body.description_block .right_side .installation_price_wrap:before,
.video_instruction .video_item:nth-child(2n+1):after,
.karta_voditelya_wrap .tabs_body .right_side .benefits_list:before,
.karta_voditelya .info_block_wrapper .info_block .features:before,
.legal_service .sample_document .right_side:before,
.adresa .alphabet .col_6:before,
.city_address .adress_item:nth-child(2n+1):after,
.tahograph_single_page .info_block .benefits_list:before {
    display: block;
    content: '';
    width: 0.5px;
    height: 200px;
    position: absolute;
    left: 0;
    top: calc(50% - 140px);
    background-color: rgba(150, 149, 149, 0.5);
}

.footer .contact_form h4 {
    margin-bottom: 41px;
}

.footer .contact_form input[type="text"],
.footer .contact_form input[type="email"],
.footer .contact_form input[type="tel"] {
    padding: 0 0 6px;
    width: 100%;
    margin-bottom: 49px;
    background: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 16px;
}

.footer .contact_form input.question {
    margin-bottom: 40px;
}

.footer .contact_form .checkbox {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
}

.footer .contact_form input[type="checkbox"] {
    margin: 0 19px 0 0;
    width: 27px;
    height: 27px;
    flex-shrink: 0;
    border: 2px solid #028CFF;
    cursor: pointer;
    transition: all 0.3s;
}

.footer .contact_form input[type="checkbox"]:checked:before {
    display: flex;
    justify-content: center;
    width: 28px;
    height: 22px;
    content: '';
    background: url("../images/checkmark.svg") no-repeat center;
    background-size: contain;
    opacity: 1;
}

.footer .contact_form .checkbox label {
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
}

.footer .contact_form input[type="submit"] {
    padding: 16px 0;
    width: 219px;
    transition: all 0.3s;
    cursor: pointer;
}

/* Breadcrumbs */
.breadcrumbs_wrapper {
    margin-bottom: 70px;
}

.breadcrumbs_wrapper .breadcrumbs {
    justify-content: flex-start;
    list-style: none;
}

.breadcrumbs_wrapper .breadcrumbs {
    font-size: 12px;
    line-height: 16px;
}

.breadcrumbs_wrapper .breadcrumbs li {
    padding-right: 8px;
}


.breadcrumbs_wrapper .breadcrumbs li:not(:first-child) {
    padding-left: 6px;
}

/* Tahographs */
.main_section.not_front {
    padding-top: 56px;
}

.main_section.tahographs {
    padding-bottom: 91px;
    background: #F8F8F8 url("../images/tahographs-back.svg") no-repeat center bottom;
}

.main_section.tahographs .block_title,
.tahographs_skzi_wrap .block_title {
    margin-bottom: 25px;
    text-align: center;
}

.main_section.tahographs .block_title h1,
.tahograph_single .block_title h1,
.adresa_pop_up .block_title h2 {
    margin-bottom: 24px;
    font-size: 48px;
    font-weight: 600;
    line-height: 55px;
}

.main_section.tahographs .block_title p,
.tahographs_skzi_wrap .block_title p,
.tahograph_single .block_title p,
.zamena_bloka_skzi .block_title p {
    width: 83%;
    margin: 0 auto;
    font-size: 20px;
    line-height: 27px;
}


/* Tahographs Skzi */

.main_section.tahographs_skzi,
.main_section.karta_voditelya,
.main_section.zamena_bloka_skzi,
.main_section.legal_service {
    background-color: #F8F8F8;
    background-image: url('../images/back-hills.png'), url('../images/tahographs-skzi-back.png');
    background-repeat: no-repeat, no-repeat;
    background-size: auto, contain;
    background-position: left bottom, center;
    padding-bottom: 390px;

}

.main_section .tahographs_main_block {
    width: 64.1%;
}

.main_section .tahographs_main_block p {
    width: 57.1%;
}

.tahographs_skzi_wrap {
    padding: 105px 0 41px;
}

.tahographs_skzi_wrap .block_title h2 {
    margin-bottom: 27px;
}

.main_section.tahographs_skzi .tahographs_main_block p {
    margin-bottom: 33px;
}

.tahographs_skzi_list .tahograph_skzi_item {
    width: 22.7%;
    margin-bottom: 30px;
    padding: 21px 21px 22px 18px;
    background: #fff;
    box-shadow: 2px 20px 48px #DBDBDB;
    border-radius: 6px;
    position: relative;
}

.tahographs_skzi_list .tahograph_skzi_item .flag {
    padding: 0 10.5px 2px;
    position: absolute;
    bottom: 113.5px;
    right: 18px;
    width: 67px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    font-weight: 800;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: #fff;
    background: url("../images/flag-star.svg") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}


.tahographs_skzi_list .tahograph_skzi_item .image {
    height: 75px;
    overflow: hidden;
}

.tahographs_skzi_list .tahograph_skzi_item .tahograph_title {
    margin-top: 3px;
    margin-bottom: 18px;
}

.tahographs_skzi_list .tahograph_skzi_item .tahograph_title h3 {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.tahographs_skzi_list .tahograph_skzi_item .image img {
    padding-bottom: 13px;
    object-fit: contain;
    height: 100%;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.tahographs_skzi_list .tahograph_skzi_item .features {
    margin-bottom: 23px;
    list-style: none;
}

.tahographs_skzi_list .tahograph_skzi_item .features li {
    margin-bottom: 8px;
    padding: 3px 0 0 30px;
    font-size: 12px;
    line-height: 17px;
    position: relative;
}

.tahographs_skzi_list .tahograph_skzi_item .features li:before {
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    background: url("../images/star-gray.svg") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}

.tahographs_skzi_list .tahograph_skzi_item .price_wrap {
    margin-bottom: 1px;
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    position: relative;
    z-index: 2;
}

.tahographs_skzi_list .tahograph_skzi_item .price_wrap.key_price .price {
    font-weight: 600;
}

.tahographs_skzi_list .tahograph_skzi_item .price_wrap .price {
    font-size: 20px;
    line-height: 27px;
}


.tahographs_skzi_list .tahograph_skzi_item .btn,
.info_block_wrapper .info_block .btn {
    margin-top: 21px;
    width: 219px;
}

.tahographs_skzi_list .tahograph_skzi_item .btn {
    width: 100%;
}

.info_block_wrapper {
    padding: 106px 0 121px;
}

.info_block_wrapper .info_block {
    align-items: stretch;
    padding: 43px 101px 43px 38px;
    box-shadow: 2px 20px 48px #DBDBDB;
    background: #fff;
    border-radius: 6px;
}

.info_block_wrapper .info_block .image {
    width: 50.65%;
}


.info_block_wrapper .info_block .description {
    margin-top: 10px;
    width: 46.75%;
    padding-left: 39px;
    position: relative;
    color: #767676;
}

.info_block_wrapper .info_block .description:before {
    height: 159px;
    background-color: rgba(208, 207, 207, 0.51);
    top: calc(50% - 88px);
}

.info_block_wrapper .info_block .title {
    padding-right: 10px;
    text-align: left;
    margin-bottom: 26px;
}

.info_block_wrapper .info_block p {
    margin-bottom: 26px;
    font-size: 20px;
    line-height: 27px;
}

.info_block_wrapper .info_block a:not(.btn) {
    padding-bottom: 5px;
    display: inline-block;
    color: #767676;
    border-bottom: 2px solid #767676;
}

.installation {
    padding: 105px 0 121px;
}

.installation .block_title {
    margin-bottom: 63px;
}

.installation .installation_item {
    width: 13.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    box-sizing: content-box;
}

.installation .installation_item:not(:last-of-type):after {
    display: block;
    content: '';
    width: 16.6px;
    height: 20px;
    position: absolute;
    right: 0;
    bottom: 10px;
    background: url("../images/instal-arrow.svg") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}

.installation .installation_item:not(:last-of-type) {
    padding-right: 30px;
}

.installation .installation_item .number {
    margin-bottom: 24px;
    display: block;
    color: #028CFF;
}


/* Tahograph Single */

.main_section.tahograph_single {
    background: #F8F8F8;
    padding-bottom: 120px;
}

.main_section.tahograph_single .breadcrumbs_wrapper {
    margin-bottom: 69px;
}

.main_section.tahograph_single .block_title,
.main_section.zamena_bloka_skzi .block_title {
    margin-bottom: 20px;
    text-align: center;
}

.tahograph_single_page .info_block_wrapper .info_block .description,
.zamena_bloka_skzi .info_block_wrapper .info_block .description,
.karta_voditelya .info_block .description {
    width: 50%;
    color: #323446;
}

.tahograph_single_page .info_block_wrapper .info_block,
.zamena_bloka_skzi .info_block_wrapper .info_block,
.karta_voditelya .info_block {
    padding-right: 39px;
}

.tahograph_single_page .info_block .image,
.zamena_bloka_skzi .info_block .image,
.karta_voditelya .info_block .image,
.legal_service .info_block .image {
    width: 46.5%;
    border-radius: 10px;
    overflow: hidden;
}

.tahograph_single_page .info_block .image img,
.zamena_bloka_skzi .info_block .image img,
.karta_voditelya .info_block .image img,
.legal_service .info_block .image img {
    height: 100%;
    object-fit: cover;
}

.tahograph_single_page .info_block_wrapper .info_block .title {
    margin-bottom: 43px;
    padding-right: 0;
}

.tahograph_single_block .tabs_head {
    display: flex;
    list-style: none;
    position: relative;
    top: 5px;
}

.tahograph_single_block .tabs_head .tab_item {
    width: 250px;
    padding: 9px 15px 11px 23px;
    display: block;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 8.7px;
    box-shadow: 0 3.48797px 3.48797px rgba(0, 0, 0, 0.25);
}

.tahograph_single_block .tabs_head .tab_item:first-child {
    z-index: 2;
}

.tahograph_single_block .tabs_head .tab_item:not(:first-child) {
    margin-left: -1px;
}

.tahograph_single_block .tabs_head .tab_item.active span {
    border-bottom: 1px solid #323446;
}

.tahograph_single_block .tabs_body {
    display: none;
    padding: 36px 37.5px 43px;
    background: #fff;
    box-shadow: 2px 20px 48px #DBDBDB;
    border-radius: 6px;
}

.tahograph_single_block .tabs_body.active {
    display: block;
    z-index: 2;
    position: relative;
}

.tahograph_single_block .tabs_body.active.description_block {
    display: flex;
    justify-content: space-between;
}

.tahograph_single_block .tabs_body.description_block .left_side {
    width: 47.04%;
}

.tahograph_single_block .tabs_body.description_block .right_side {
    padding-left: 37.5px;
    width: 50.05%;
    position: relative;
}

.tahograph_single_block .tabs_body.description_block .right_side .installation_price_wrap:before {
    height: 107%;
    top: -7px;
    left: -35.5px;
    background-color: rgba(150, 149, 149, 0.5);
}

.tahograph_single_block .tabs_body.description_block .left_side .image {
    margin: 0 auto 30px;
    width: 263px;
}

.tahograph_single_block .tabs_body.description_block .features,
.karta_voditelya .info_block .features,
.legal_service .info_block .features {
    list-style: none;
    margin-bottom: 22px;
}

.tahograph_single_block .tabs_body.description_block .features li,
.karta_voditelya .info_block .features li,
.legal_service .info_block .features li,
.legal_service .demands .features li {
    margin-bottom: 12px;
    position: relative;
    font-size: 14px;
    display: flex;
    align-items: flex-start;
}

.tahograph_single_block .tabs_body.description_block .features li svg,
.karta_voditelya .info_block .features li svg,
.legal_service .info_block .features li svg,
.legal_service .demands .features li svg {
    margin-right: 22px;
    width: 27px;
    height: 20px;
    flex-shrink: 0;
}

.tahograph_single_block .tabs_body .attention {
    padding-left: 47px;
    position: relative;
    font-size: 14px;
    color: #4E4F56;
}

.tahograph_single_block .tabs_body .attention b,
.tahograph_single_block .tabs_body .attention a {
    font-weight: 600;
}

.tahograph_single_block .tabs_body .attention .icon {
    position: absolute;
    top: calc(50% - 17.5px);
    left: 8px;
    font-size: 48px;
    line-height: 28px;
    font-weight: 700;
    color: #FDB813;
}

.tahograph_single_block .tabs_body.description_block .installation_price_wrap {
    position: relative;
}

.tahograph_single_block .tabs_body.description_block .installation_price {
    margin-bottom: 23px;
}

.tahograph_single_block .tabs_body.description_block h3,
.legal_service .sample_document .title h3,
.legal_service .demands .title h3,
.legal_service .info_block .title h3 {
    margin-bottom: 26px;
    font-size: 26px;
    line-height: 33px;
    font-weight: 400;
    text-align: center;
}

.tahograph_single_block .tabs_body.description_block .installation_price .price_item {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #4E4F56;
    position: relative;
}

.tahograph_single_block .tabs_body.description_block .installation_price .price_item .price {
    font-weight: 600;
}

.tahograph_single_block .tabs_body.description_block .installation_price .sum {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    color: rgba(50, 52, 70, 0.9);
}

.tahograph_single_block .tabs_body.description_block .installation_price .sum:nth-of-type(3) {
    margin-top: 6px;
}

.tahograph_single_block .tabs_body.description_block .installation_price .sum .price {
    font-weight: 700;
}

.tahograph_single_block .tabs_body .attention .more {
    display: inline-block;
    text-align: left;
}

.tahograph_single_block .tabs_body.description_block .additional_info {
    margin-bottom: 36px;
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    line-height: 16px;
}

.tahograph_single_block .tabs_body.description_block .additional_info ul {
    margin-top: 3px;
    padding-left: 4px;
    list-style: none;
}

.tahograph_single_block .tabs_body.description_block .additional_info li {
    line-height: 17px;
    color: #4E4F56;
}

.tahograph_single_block .tabs_body.description_block .btn {
    float: right;
    width: 219px;
}

.tahograph_single_block .tabs_body .specification_head p,
.tahograph_single_block .tabs_body .specification_item .value {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.tahograph_single_block .tabs_body .specification_item:last-of-type {
    margin-bottom: 0;
}

.tahograph_single_block .tabs_body .specification_item p,
.tahograph_single_block .tabs_body .specification_head p {
    padding: 15.5px 9px 12.5px;
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-size: 14px;
}

.tahograph_single_block .tabs_body .specification_head p {
    font-size: 16px;
}

.tahograph_single_block .tabs_body .specification_item p.name,
.tahograph_single_block .tabs_body .specification_head p.name {
    margin-right: 7.5px;
    width: 64.14%;
}

.tahograph_single_block .tabs_body .specification_item p.value,
.tahograph_single_block .tabs_body .specification_head p.value {
    flex: 1;
    word-break: break-all;
}

.tahograph_single_block .tabs_body .specification_item p {
    display: flex;
    align-items: center;
}

.tahograph_single_block .tabs_body .specification_item p.value {
    text-align: center;
    justify-content: center;
}

.tahograph_single_block .tabs_body .specification_item,
.tahograph_single_block .tabs_body .specification_head {
    display: flex;
    align-items: stretch;
    margin-bottom: 10px;
}

.tahograph_single_page .benefits_list,
.karta_voditelya_wrap .benefits_list {
    margin-bottom: 53px;
    list-style: none;
    padding: 0;
}

.tahograph_single_page .benefits_list li,
.karta_voditelya_wrap .benefits_list li {
    padding: 12px 0 10px 67px;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 20px;
    position: relative;
}

.tahograph_single_page .benefits_list li:before,
.karta_voditelya_wrap .benefits_list li:before {
    display: block;
    content: '';
    width: 47.5px;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/blue-star.svg") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}

.tahograph_single_page .benefits_list li b,
.karta_voditelya_wrap .benefits_list li b {
    font-size: 30px;
    line-height: 22px;
    font-weight: 800;
}

.tahograph_single_page .info_block_wrapper {
    padding-top: 55px;
}

.tahograph_single_page .info_block_wrapper .info_block {
    padding: 41px 40px 43px 38px;
}

/* Zamena Bloka */

.main_section.zamena_bloka_skzi {
    background-image: url('../images/back-hills.png'), url('../images/zamena-bloka-skzi.png');
    background-repeat: no-repeat, no-repeat;
    background-size: auto, contain;
    background-position: left bottom, center;
    padding-bottom: 388px;

}

.main_section.zamena_bloka_skzi .tahographs_main_block p {
    width: 47%;
    margin-bottom: 32px;
}

.tahographs_skzi_wrap.zamena_bloka_skzi_wrap {
    padding: 110px 0 121px;
}

.tahographs_skzi_wrap.zamena_bloka_skzi_wrap .block_title p {
    width: 82%;
}

.tahographs_skzi_wrap.zamena_bloka_skzi_wrap .block_title h2 {
    margin-bottom: 28px;
}

.zamena_bloka_skzi_wrap .tabs_body.description_block .left_side .image {
    width: 223px;
    margin-bottom: 22px;
}

.zamena_bloka_skzi_wrap .tahograph_single_block .tabs_body.description_block .installation_price {
    margin-bottom: 66px;
}

.zamena_bloka_skzi .info_block_wrapper {
    padding-top: 51px;
}

.zamena_bloka_skzi .info_block_wrapper .info_block p {
    margin-bottom: 38px;
    padding-right: 50px;
}

.zamena_bloka_skzi .info_block .image {
    height: 399px;
}


/* Tahographs Card */
.tahographs_card .directions_list .direction_item {
    margin: 0 18.5px 35px;
}

.tahographs_card .directions_list {
    justify-content: center;
}

/* Karti voditelya */

.video_instruction .block_title {
    margin-bottom: 67px;
}

.video_instruction,
main .map_wrap {
    padding: 105px 0 121px;
    background-color: #F8F8F8;
}

.video_instruction {
    padding-bottom: 91px;
}

.video_instruction .container {
    max-width: 1049px;
}

.video_instruction .video_item {
    width: 46.6%;
    margin-bottom: 30px;
}

.video_instruction .video_item:nth-child(2n+1) {
    padding-right: 35px;
    position: relative;
    box-sizing: content-box;
}

.video_instruction .video_item:nth-child(2n+1):after,
.city_address .adress_item:nth-child(2n+1):after {
    left: auto;
    right: 0;
    top: calc(50% - 32.5%);
    height: 85.8%;

}

.video_instruction .video {
    border-radius: 10px;
    overflow: hidden;
    height: 317px;
}

.video_instruction .video_item iframe,
main .map_wrap .map iframe {
    width: 100%;
    height: 100%;
}

.video_instruction .video_item .title {
    margin-left: 5px;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
}


/* Karta Voditelya */

.main_section.karta_voditelya {
    background-image: url('../images/back-hills.png'), url('../images/karta-voditelya-back.png');
    background-repeat: no-repeat, no-repeat;
    background-size: auto, contain;
    background-position: left bottom, center;
}

.main_section.karta_voditelya .tahographs_main_block {
    width: 52%;
}

.main_section.karta_voditelya .tahographs_main_block p {
    width: 71%;
}

.karta_voditelya_wrap {
    padding-bottom: 121px;
}

.karta_voditelya_wrap .block_title {
    margin-bottom: 73px;
}

.karta_voditelya_wrap .images {
    margin-bottom: 22px;
}

.karta_voditelya_wrap .images img {
    width: 49%;
}

.karta_voditelya_wrap .tabs_body.description_block .right_side {
    padding-left: 0;
}

.karta_voditelya_wrap .tabs_body .right_side .benefits_list {
    margin-top: 19px;
    margin-bottom: 12px;
    padding-left: 37px;
    position: relative;
}

.karta_voditelya_wrap .tabs_body .right_side .benefits_list:before {
    height: 110%;
    left: 0;
    top: -7px;
}

.karta_voditelya_wrap .tabs_body .right_side .related_services {
    position: relative;
    top: 32px;
}

.karta_voditelya_wrap .tabs_body .right_side .related_services h4 {
    padding-left: 36px;
    margin-bottom: 11px;
    font-weight: 600;
}

.karta_voditelya_wrap .tabs_body .right_side .related_services li {
    margin-bottom: 7px;
    list-style: none;
    padding-left: 36px;
    position: relative;
}

.karta_voditelya .info_block_wrapper {
    padding-top: 52px;
    background-color: #f8f8f8;
}

.karta_voditelya .info_block {
    align-items: center;
}

.karta_voditelya .info_block .image {
    height: 400px;
}

.karta_voditelya .info_block_wrapper .info_block .description:before,
.tahograph_single_page .info_block_wrapper .info_block .description:before {
    display: none;
}

.karta_voditelya .info_block_wrapper .info_block .features,
.legal_service .info_block_wrapper .info_block .features,
.tahograph_single_page .info_block .benefits_list {
    position: relative;
}

.karta_voditelya .info_block_wrapper .info_block .features:before,
.tahograph_single_page .info_block .benefits_list:before {
    height: 105%;
    top: -5px;
    left: -39px;
}

.karta_voditelya .figures .container {
    max-width: 1140px;
    padding: 0;
}

.karta_voditelya .info_block_wrapper .info_block .title {
    margin-left: 6px;
    margin-bottom: 29px;
}

.karta_voditelya .info_block_wrapper .info_block .btn {
    margin-top: 30px;
    background-color: #FDB813;
    border-color: #FDB813;
}

.karta_voditelya .info_block_wrapper .info_block .btn:hover {
    background-color: #fff;
    color: #FDB813;
}

.karta_voditelya .figures_list .figure_item {
    width: 23.4%;
}

/* Monitoring transporta */
.monitoring_transporta .main_section {
    padding-bottom: 388px;
}

.monitoring_transporta .tahographs_main_block {
    width: 63.1%;
}

.monitoring_transporta .breadcrumbs_wrapper {
    margin-bottom: 70px;
}

.monitoring_transporta .main_section .title h1 {
    margin-bottom: 22px;
}

.monitoring_transporta .main_section .title {
    margin-bottom: 22px;
}

.monitoring_transporta .main_section .tahographs_main_block p {
    margin-bottom: 33px;
}

.tahographs_skzi_wrap.monitoring_transporta {
    padding-bottom: 121px;
}

.tahographs_skzi_wrap.monitoring_transporta .block_title {
    margin-bottom: 73px;
}

.tahographs_skzi_wrap.monitoring_transporta .tahograph_single_block .left_side .image {
    margin-bottom: 24px;
    width: 335px;
}

.tahographs_skzi_wrap.monitoring_transporta .tabs_body.description_block .right_side {
    padding-left: 35px;
}

.tahographs_skzi_wrap.monitoring_transporta .tahograph_single_block.extended .left_side .image {
    width: 88%;
}

.tahograph_single_block .tabs_body.description_block h3 {
    text-align: left;
}

.tahographs_skzi_wrap.monitoring_transporta .tahograph_single_block .additional_info {
    margin-bottom: 3px;
}

.tahographs_skzi_wrap.monitoring_transporta .tahograph_single_block .tabs_body {
    padding-bottom: 47px;
}

.monitoring_transporta .tahograph_single_block .tabs_body .btn {
    margin-top: 27px;
}

.monitoring_transporta .tahograph_single_block.extended {
    margin-top: 88px;
}

.monitoring_transporta .benefits {
    padding: 105px 0 79px;
    background-color: #F8F8F8;
}

.monitoring_transporta .benefits_list .benefit_item .benefit_icon {
    margin-bottom: 13px;
}

.advantages {
    padding: 105px 0 74px;
    background-color: #323446;
}

.advantages .advantage_item {
    margin-bottom: 48px;
    width: 31.7%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.advantages .advantage_item .title {
    margin-bottom: 9px;
}

/* Legal Service */
.main_section.legal_service {
    background-image: url('../images/back-hills.png'), url('../images/legal-service.png');
    background-repeat: no-repeat, no-repeat;
    background-size: auto, contain;
    background-position: left bottom, center;
}

.legal_service .tahograph_single_block .tabs_body .specifications_list {
    margin-bottom: 35px;
}

.legal_service .tahograph_single_block .tabs_body .specification_item,
.legal_service .tahograph_single_block .tabs_body .specification_head {
    margin-bottom: 9px;
}

.legal_service .tahograph_single_block .tabs_body .btn {
    width: 219px;
}

.legal_service .tahograph_single_block .tabs_body {
    padding: 32px 37.5px 51px;;

}

.tahographs_skzi_wrap.oformlenie_dopuska {
    padding-bottom: 121px;
    background-color: #f8f8f8;
}

.legal_service .info_block_wrapper {
    padding-top: 70px;
}

.legal_service .sample_document,
.legal_service .demands {
    width: 58.1%;
    padding: 34px 34px 41px;
    margin: 0 auto 88px;
    background: #fff;
    box-shadow: 2px 20px 48px #DBDBDB;
    border-radius: 6px;
}

.legal_service .demands {
    padding-bottom: 30px;
}

.legal_service .sample_document .content {
    align-items: stretch;
}

.legal_service .sample_document .left_side {
    width: 45.5%;
}

.legal_service .sample_document .right_side {
    width: 49.5%;
    padding-left: 33px;
    position: relative;
}

.legal_service .sample_document .right_side:before {
    height: 92%;
    top: 14px;
}

.legal_service .sample_document .right_side .image:not(:last-of-type) {
    margin-bottom: 18px;
}

.legal_service .info_block .title {
    width: 70%;
    margin: 0 auto;
}

.legal_service .info_block .title h3 {
    margin-bottom: 20px;
}

.legal_service .info_block .content {
    align-items: stretch;
}

.legal_service .info_block .image {
    width: 26.4%;
    height: 398px;
}

.legal_service .info_block .image img {
    object-position: 86%;
}

.legal_service .info_block {
    padding: 34px 38px 17px;
}

.legal_service .info_block .description {
    margin-top: 6px;
    width: 69.8%;
    padding-left: 0;
}

.legal_service .info_block .features li svg {
    margin-right: 16px;
}

.legal_service .info_block .description:before {
    display: none;
}

.legal_service .tahograph_single_block .tabs_body .specification_head p {
    font-size: 20px;
    line-height: 27px;
}

.legal_service .tahograph_single_block .tabs_body .specification_item p {
    font-size: 16px;
}

main .map_wrap .map_content {
    padding: 39px 38px 43px;
    background-color: #fff;
    box-shadow: 2px 20px 48px #DBDBDB;
    border-radius: 6px;
}

main .map_wrap .map {
    height: 337px;
    margin-bottom: 41px;
}

main .map_wrap .btn {
    margin: 0 auto;
}


/* Help */

.main_section.help,
.main_section.adresa {
    padding-bottom: 75px;
    background-color: #F8F8F8;
    background-image: none;
}

.main_section.help .block_title {
    margin-bottom: 28px;
}

.main_section.help .categories_list {
    margin-bottom: 19px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.main_section.help .categories_list li {
    width: 10.9%;
    margin-right: 66px;
    display: block;
    padding: 3px 0 10px 12px;
    position: relative;
}

.main_section.help .categories_list li:last-of-type {
    margin-right: 0;
}

.main_section.help .categories_list li:before {
    display: block;
    content: '';
    width: 0.5px;
    height: 100%;
    background-color: rgba(150, 149, 149, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.main_section.help .categories_list li a {
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #323446;
}

.main_section.help .categories_list li:hover a {
    border-color: transparent;
}

.main_section.help .articles_list {
    align-items: flex-start;
}

.main_section.help .articles_list .article_item {
    margin-bottom: 47.5px;
    width: 31.3%;
}

.main_section.help .articles_list .article_item .image {
    margin-bottom: 5.5px;
    height: 209px;
    border-radius: 10px;
    overflow: hidden;
}

.main_section.help .articles_list .article_item .image img {
    height: 100%;
    object-fit: cover;
}

.main_section.help .articles_list .article_item .title {
    margin-bottom: 10.5px;
    font-size: 14px;
    font-weight: 600;
}

.main_section.help .articles_list .article_item .short_description {
    margin-bottom: 4px;
    font-size: 14px;
}


/* Article */


.article .article_wrap {
    width: 82.7%;
    margin: 0 auto;
}

.article .block_title {
    margin-bottom: 60px;
}

.article .article_wrap img {
    width: 320px;
    height: 242px;
    object-fit: cover;
    float: left;
    margin: 0 31px 16px 0;
}

.article .article_wrap p {
    margin-bottom: 24px;
}

.article .article_wrap ol,
.article .article_wrap ul {
    margin-bottom: 20px;
    padding-left: 17px;
}

.article .article_wrap li {
    margin-bottom: 11px;
}

.article .article_wrap h2,
.article .article_wrap h3,
.article .article_wrap h4,
.article .article_wrap h5,
.article .article_wrap h6,
.city_address .adress_item .title {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 800;
    text-align: justify;
}

/* Adresa */
.main_section.adresa {
    padding-bottom: 103px;
}
.adresa .main_section.adresa .block_title {
    margin-bottom: 36px;
}
.adresa .map_wrap .map_content {
    padding: 33px 40px 36px;
}

.adresa .map_wrap .map {
    margin-bottom: 0;
}

.adresa .alphabet {
    align-items: stretch;
    padding-right: 147px;
}

.adresa .alphabet .col_6 {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.adresa .alphabet .col_6:before {
    display: block;
    content: '';
}

.adresa .alphabet .col_6 .letter {
    margin-bottom: 14px;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    border-bottom: 1px solid transparent;
}

.adresa .alphabet .col_6 .letter.active {
    border-color: #323446;
}

.adresa .alphabet .col_6:before {
    height: 77.7%;
    top: 19px;
}

/* adresa Moskva */

.city_address .main_section.adresa .block_title {
    margin-bottom: 61px;
}

.city_address .alphabet {
    width: 87.7%;
    margin: 0 auto;
    padding-right: 0;
}

.city_address .adress_item {
    margin-bottom: 50px;
    position: relative;
}

.city_address .adress_item:nth-child(2n+1) {
    padding-right: 53px;
}

.city_address .adress_item li {
    margin-bottom: 23px;
    padding: 0 0 1px 45px;
    position: relative;
    list-style: none;
}

.city_address .adress_item li:last-of-type {
    margin-bottom: 0;
}

.city_address .adress_item .title {
    margin-bottom: 34px;
}

/* 404 Error page */
.error_page .main_section {
    padding-bottom: 311px;
}

.error_page .main_section .block_title a {
    display: inline-block;
    padding-bottom: 3px;
    border-bottom: 2px solid #323446;
}

.adresa_pop_up {
    padding: 83px 32px 80px;
    width: 1200px;
}

.adresa_pop_up .adresa .alphabet {
    width: 85%;
    padding-right: 0;
}

/* Adresa Pop-up */

.adresa_pop_up .block_title {
    margin-bottom: 23px;
}

/* Autofill Color */
input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
    -webkit-box-shadow: 0 0 0px 100px #323446 inset;
    color: #fff !important;
}

/* Placeholder */

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    transition: all 0.3s;
    color: #fff;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    transition: all 0.3s;
    color: #fff;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    transition: all 0.3s;
    color: #fff;

}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    transition: all 0.3s;
    color: #fff;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {

    color: transparent
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    color: transparent
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    color: transparent
}
